{{ include ../parts/header-html }}

<div>
<p>La réinitialisation de ton mot de passe a été demandée sur le site.</p>

<p>Si c'est toi qui l'as fait, tu as toute ta tête. Tu n'as plus qu'à cliquer sur ce lien pour réinitialiser ton mot de passe: <a href="http://rel-tfg.neyrick.fr/api/securePerform/{{= action.id }}?code={{= action.code }}">http://rel-tfg.neyrick.fr/api/securePerform/{{= action.id }}?code={{= action.code }}</a></p>

<p>Sinon, soit tu es un peu tolchoqué du goliwog, soit un petit malin (mais pas très doué) essaie de te piquer ton mot te passe. Dans un cas comme dans l'autre, tu n'as qu'à ignorer ce message, et ricaner de triomphe. Ça sert à rien, mais ça donne un style.</p>

</div>

{{ include ../parts/footer-html }}

