.filterDisabled {
	text-decoration: line-through;
}
.dropdown {
	display: none;
}
#filtersBox {
	display: none;
}
.selectedPlayer {
	color: #FF0000;
}
.hidden {
	display: none;
}
.fileDropZone {
	border: 5px dashed #E0E0E0;
	width: 500px;
	height: 100px;
	text-align: center;
	padding-top: 35px;
	background: #F8F8F8 auto no-repeat left center;
	background-size: 500px 100px;
}
.fileDropZoneDragOver {
	background-color: #303030;
	color : white;
	font-weight: bold;	
}
.infoTooltip {
}
/*
div {
	border: 1px solid black;
}
*/

/* -------------- CSS admin ------------------ */

.modalButtonsBox {
    text-align: right;
}
.navBar {
    margin: 10px;
    padding: 10px;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    background-color:#FFFFFF;
    max-width: none;
    overflow: hidden;
}
.dummyInlineContainer {
    display: inline;
    margin: 0px;
    padding: 0px;
}
.managerPanel {
    margin: 10px;
    padding: 10px;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    background-color:#FFFFFF;
    max-width: none;
}
.managerHeading {
    overflow: hidden;
}
.largeModal {
    width: 1100px;
}
.buttonsColumn {
    width: 400px;
}
.buttonHelper {
    font-weight: bold;
    display: none;
}

/* -------------- CSS Maureen ----------------- */

@font-face {
    font-family: 'pt_sansregular';
    src: url('font/ptsans_regular_macroman/PTS55F-webfont.eot');
    src: url('font/ptsans_regular_macroman/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ptsans_regular_macroman/PTS55F-webfont.woff') format('woff'),
         url('font/ptsans_regular_macroman/PTS55F-webfont.ttf') format('truetype'),
         url('font/ptsans_regular_macroman/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansitalic';
    src: url('font/ptsans_italic_macroman/PTS56F-webfont.eot');
    src: url('font/ptsans_italic_macroman/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ptsans_italic_macroman/PTS56F-webfont.woff') format('woff'),
         url('font/ptsans_italic_macroman/PTS56F-webfont.ttf') format('truetype'),
         url('font/ptsans_italic_macroman/PTS56F-webfont.svg#pt_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansbold_italic';
    src: url('font/ptsans_bolditalic_macroman/PTS76F-webfont.eot');
    src: url('font/ptsans_bolditalic_macroman/PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ptsans_bolditalic_macroman/PTS76F-webfont.woff') format('woff'),
         url('font/ptsans_bolditalic_macroman/PTS76F-webfont.ttf') format('truetype'),
         url('font/ptsans_bolditalic_macroman/PTS76F-webfont.svg#pt_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}



body{
font-family:pt_sansregular;
font-size:14px;
}

.multijournees {
background-color:#009bba;
color: white;
border: 0;
padding: 15px;
margin: 10px 0;
}

.parties{
position:relative;
width:100%;
border-collapse:collapse;
border: 1px solid #bfbfbf;
margin: 5px 0;
}

.demijourneedate {
text-align:center;
width:10%;
background-color:#009bba;
color: white;
vertical-align:top;
padding: 10px;
}

.partiespotentielles{
width:40%;
background-color:#e6e6e6;
vertical-align:top;
padding: 10px;
border-right: 1px solid #a6a6a6;
}

.partiesvalidees {
width:40%;
background-color:#e6e6e6;
vertical-align:top;
padding: 10px;
}

.titre-colone{
font-family:pt_sansbold_italic;
margin:10px;
text-align:center;
color: #737373;
}

.ajouterpartie{
margin:10px;
font-family:pt_sansitalic;
text-align:center;
color: #737373;
cursor:pointer;
}

.chroniquepotclose{
width:100%;
background-color:#009bba;
font-family:pt_sansbold_italic;
color:white;
margin:5px;
border: 1px solid #a6a6a6;
border-collapse:collapse;
}

.nomchronique{
padding: 5px;
text-align:center;
}

.clickouvrir{
background-color:white;
width:25px;
}

.clickfermer{
position:absolute;
top:0px;
right:-1px;
border: 1px solid #a6a6a6;
line-height:25px;
width:26px;
height:25px;
}

.clickouvrir a, .clickfermer a {
font-family:pt_sansbold_italic;
color:#3d3d3d;
text-align:center;
vertical-align:middle;
display:block;
text-decoration:none;
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);
}

.partieouverte{
position:relative;
width:100%;
background-color:white;
color:#3d3d3d;
margin:5px;
border: 1px solid #a6a6a6;
border-collapse:collapse;
}
