* {
	-webkit-font-smoothing: antialiased;
}
​
html, html a, button {
    -webkit-font-smoothing: antialiased !important;
}

.dropdown {
	display: none;
}
.hidden {
	display: none;
}
#newSettingImg {
       width: 100%
}
#newSettingImgMessage {
       margin: 30px 0px;
}
.fileDropZoneDragOver {
	background-color: #303030;
	color : white;
	font-weight: bold;	
}
.infoTooltip {
}
/*
div {
	border: 1px solid black;
}
*/

/* -------------- CSS admin ------------------ */

.modalButtonsBox {
    text-align: right;
}
.navBar {
    margin: 10px;
    padding: 10px;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    background-color:#FFFFFF;
    max-width: none;
    overflow: hidden;
}
.dummyInlineContainer {
    display: inline;
    margin: 0px;
    padding: 0px;
}
.largeModal {
    width: 1100px;
}
.buttonsColumn {
    width: 400px;
}
.buttonHelper {
    font-weight: bold;
    display: none;
}

/* -------------- CSS Maureen ----------------- */

@font-face {
    font-family: 'glyphicons';
    src: url('font/glyphicons/glyphicons-halflings-regular.eot');
    src: url('font/glyphicons/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('font/glyphicons/glyphicons-halflings-regular.woff') format('woff'),
         url('font/glyphicons/glyphicons-halflings-regular.ttf') format('truetype'),
         url('font/glyphicons/glyphicons-halflings-regular.svg#glyphicons') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansregular';
    src: url('font/ptsans_regular_macroman/PTS55F-webfont.eot');
    src: url('font/ptsans_regular_macroman/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ptsans_regular_macroman/PTS55F-webfont.woff') format('woff'),
         url('font/ptsans_regular_macroman/PTS55F-webfont.ttf') format('truetype'),
         url('font/ptsans_regular_macroman/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansitalic';
    src: url('font/ptsans_italic_macroman/PTS56F-webfont.eot');
    src: url('font/ptsans_italic_macroman/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ptsans_italic_macroman/PTS56F-webfont.woff') format('woff'),
         url('font/ptsans_italic_macroman/PTS56F-webfont.ttf') format('truetype'),
         url('font/ptsans_italic_macroman/PTS56F-webfont.svg#pt_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansbold_italic';
    src: url('font/ptsans_bolditalic_macroman/PTS76F-webfont.eot');
    src: url('font/ptsans_bolditalic_macroman/PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ptsans_bolditalic_macroman/PTS76F-webfont.woff') format('woff'),
         url('font/ptsans_bolditalic_macroman/PTS76F-webfont.ttf') format('truetype'),
         url('font/ptsans_bolditalic_macroman/PTS76F-webfont.svg#pt_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansbold';
    src: url('font/ptsans_bold_macroman/PTS75F-webfont.eot');
    src: url('font/ptsans_bold_macroman/PTS75F-webfont.svg#pt_sansbold') format('svg'),
         url('font/ptsans_bold_macroman/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ptsans_bold_macroman/PTS75F-webfont.woff') format('woff'),
         url('font/ptsans_bold_macroman/PTS75F-webfont.ttf') format('truetype');         
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'amerikaregular';
    src: url('font/amerika_regular/AMERIKA_-webfont.eot');
    src: url('font/amerika_regular/AMERIKA_-webfont.svg#amerikaregular') format('svg'),
         url('font/amerika_regular/AMERIKA_-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/amerika_regular/AMERIKA_-webfont.woff') format('woff'),
         url('font/amerika_regular/AMERIKA_-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body{
font-family:pt_sansregular;
font-size:14px;
margin: 0px;
}

#topContainer {
    width: 1216px;
    margin-left: auto;
    margin-right: auto;	
}

.popup {
    border-color: #009bba;
    background-color: #FFF;
    color: #000;
    border-width: 2px;
    font-size:inherit;
}

.popup .qtip-titlebar {
    background-color: #009bba;
    color: white;
}

.fullwidth {
	margin-left: 8px;
	margin-right: 8px;
}

.downtext {
	display: inline-block;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.spacer {
	background-color:#009bba;
	height: 5px;
}

.buttonBox {
	text-align: center;
}

.button {
        padding: 5px 10px;
	background-color:#009bba;
        color: white;
        cursor: pointer;
        border: 1px solid white;
	text-align: center;
        border-radius: 0px;
        background-image: none;
}

.button2 {
        padding: 5px 10px;
	background-color:white;
        color: black;
        cursor: pointer;
        border: 1px solid #009bba;
	text-align: center;
        border-radius: 0px;
        background-image: none;
}

.button3 {
        padding: 5px 10px;
	background-color:#CA153E;
        color: white;
        cursor: pointer;
        border: 1px solid white;
	text-align: center;
        border-radius: 0px;
        background-image: none;
}

.button2on {
	background-color:#009bba;
        color: white;
}

.button:hover, .button:active, .button:focus {
	background-color: white;
        color: #009bba;
        border: 1px solid #009bba;
}

.button2:hover, .button2:active, .button2:focus {
	background-color:#009bba;
        color: white;
        border: 1px solid white;
}

.button3:hover, .button3:active, .button3:focus {
	background-color: white;
        color: #CA153E;
        border: 1px solid #CA153E;
}

.button:disabled {
	background-color:#9dcdd6;
}

.disabled3 {
	background-color:#e995a2;
}

.squarebutton {
	width: 25px;
	height: 25px;
	padding: 0px;
	font-family: pt_sansbold_italic;
	line-height: 25px;
	display: inline-block;
}

.glyph {
	font-family: glyphicons;
	font-size: 12px;
}

.verticalButton {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: absolute;
}

.rightSideButton1 {
	width: 70px;
	top: 40px;
	left: -61px;	
}

.rightSideButton2 {
	width: 70px;
	top: -14px;
	left: -61px;	
}

.rightSideButton3 {
	width: 50px;
	top: -14px;
	left: -51px;	
}

.rightSideButton4 {
	width: 50px;
	top: 14px;
	left: -51px;	
}

.buttonsRow {
	text-align:center;
}

.buttonsRow > div {
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
}

.leftSideNote1 {
	width: 70px;
	top: 22px;
	left: -31px;
	cursor: auto;	
}

#title {
    font-size: 2em;
    color: #009BB9;
    font-family: "amerikaregular",Arial,sans-serif;
    float: left;
    padding: 30px;
}

#userBox {
	float: right;
	padding-top: 30px
}

#userBox > div {
	display: inline-block;
	padding: 8px;
	margin-right: 30px;
}

#userBox .userbutton {
    color: #FFF;
    cursor: pointer;
}

#userBox #logoffbutton {
    background-color: #009BBA;
}

#userBox #adminbutton {
    background-color: #CA153E;
}

#userBox #username {
	font-family: pt_sansbold;
}

#filtersSuperbox {
	clear: both;
	background-color:#009bba;
}

#filtersToggle {
	text-align: right;
	background-color:#009bba;
	color: white;
	clear: both;
}

#filtersToggle > .switch {
	padding: 5px;
	display: inline-block;
	cursor: pointer;
}

#banner {
	clear: both;
	background: #FFF url("../images/banner.png") no-repeat center center;
	height: 200px;
}

#filtersBox {
	padding-top: 10px;	
	background-color:#009bba;
	color: white;
        display: none;
}

.filtersBoxTitle {
	padding: 10px;
}

#openSettingsFiltersBox, #closedSettingsFiltersBox{
	width: 46%;
	float: left;
	display: inline-block;
	background-color:#009bba;
}

#openSettingsFiltersBox, #closedSettingsFiltersBox, .filtersList {
	overflow: hidden;
	padding-left: 10px;
}

#closedSettingsFiltersBox .filtersList {
	border-left: 2px solid white;
}

.filterSwitch{
	display: inline-block;
	float: left;
	border: 1px solid #FFF;
	background-color:white;
	color: #009bba;
	padding: 3px;
	margin: 3px;
	cursor: pointer;
}

.filterDisabled{
	background-color:#009bba;
	color: white;
}

#dateScrollers {
	clear: both;
	text-align:center;
	font-size:20px;
	padding: 10px;
}

#dateScrollers .arrow {
	color: #009bba;
	text-decoration: none;
	font-weight: bold;
	margin-left: 30px;
	margin-right: 30px;
}

.loginpopup {
    max-width: 400px;
}

.loginpopup .qtip-content {
    padding: 0px;
}

#loginForm > div {
    padding: 5px 10px;
}

#loginForm label {
    display: inline-block;
    width: 150px;
}

#loginmessage {
        padding: 5px 10px;
        background-color: #009bba;
        color: white;
}

.selectDayToggle {
        display: inline-block;
        padding: 0px 10px;
        margin-left: 5em;
}

.addSettingColumn {
    float: left;
    overflow: hidden;
    margin-left: 3px;
    margin-right: 3px;
}

.addSettingColumnHeader {
        margin-top: 3px;
        margin-bottom: 3px;
        color: #009bba;
        border: 1px solid #009bba;
        padding: 10px 10px;
}

.addsettingpopup {
       max-width: inherit;
}

.addSettingButton {
        margin-top: 3px;
        margin-bottom: 3px;
}

#createSettingButton {
	clear: both;
        width: 100%;
        padding: 10px 10px;
}

.selectDayDropdown {
        padding-left: 0px;
}

.selectDayDropdown li {
        list-style-type: none;
        margin-top: 3px;
        margin-bottom: 3px;
        text-align: left;
}

#createSettingForm {
        width: 100%;
        margin-left: auto;
        margin-right: auto;	
        text-align: center;
}

#createSettingForm .inlines {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        display: inline-block;
}

#createSettingForm .fullrow {
        margin-top: 5px;
        margin-bottom: 5px;
        display: block;
}

#clearImageButton {
        display: block;
        width: 500px;
        margin-left: auto;
        margin-right: auto;	
}

#submitSettingButton {
        display: block;
        width: 500px;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;	
}

.fileDropZone {
	border: 5px dashed #E0E0E0;
	max-width: 500px;
        width: 90%;
	text-align: center;
	background-size: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;	
}

.multijournees {
background-color:#009bba;
color: white;
border: 0;
padding: 15px;
margin: 10px 0;
}

.parties{
position:relative;
width:100%;
border-collapse:collapse;
border: 1px solid #bfbfbf;
margin: 5px 0;
}

.demijourneedate {
text-align:center;
width:10%;
background-color:#009bba;
color: white;
vertical-align:top;
padding: 10px;
}

.partiespotentielles, .partiesvalidees{
width:40%;
background-color:#e6e6e6;
vertical-align:top;
padding: 10px;
border-right: 1px solid #a6a6a6;
position:relative;
}


.titre-colone{
font-family:pt_sansbold_italic;
margin:10px;
text-align:center;
color: #737373;
}

.ajouterpartie{
margin:10px;
font-family:pt_sansitalic;
text-align:center;
color: #737373;
cursor:pointer;
}

.chroniquepotclose{
position:relative;
width:100%;
background-color:#009bba;
font-family:pt_sansbold_italic;
color:white;
margin:5px;
border: 1px solid #a6a6a6;
border-collapse:collapse;
}

.nomchronique{
padding: 5px;
text-align:center;
}

.myschedule {
position:absolute;
line-height:26px;
width:26px;
height:26px;
padding: 1px;
}

.clickouvrir{
position:absolute;
top:-1px;
right:-1px;
border: 1px solid #a6a6a6;
line-height:26px;
width:26px;
height:26px;
background-color:white;
cursor: pointer;
padding: 1px;
}



.clickfermer{
position:absolute;
top:-1px;
right:-1px;
border: 1px solid #a6a6a6;
line-height:26px;
width:26px;
height:26px;
background-color:white;
cursor: pointer;
padding: 1px;
}

.clickouvrir span, .clickfermer span {
font-family:pt_sansbold_italic;
color:#3d3d3d;
text-align:center;
vertical-align:middle;
display:block;
text-decoration:none;
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);
}

.myschedule span {
	text-align:center;
	vertical-align:middle;
	display:block;
}

.partieouverte{
position:relative;
width:100%;
background-color:white;
color:#3d3d3d;
margin:5px;
border: 1px solid #a6a6a6;
border-collapse:collapse;
padding:0;
}

.partieouverte td{
padding:0;
}

.imagechronique{
width:100%;
position:relative;
overflow:hidden;
}

.imagechronique img{
width:100%;
}

.chroniquepartie{
font-family:pt_sansbold_italic;
text-align:center;
margin:20px 0;
font-size:16px;
}

.barrechronique{
background-color:#a6a6a6;
height:1px;
width:75%;
margin:10px auto;
}

.tablebouton{
position:relative;
}

.joueurchronique{
position:relative;
width:100%;
}

.lignejoueur{
line-height:30px;
padding:5px;
margin:5px;
}

.lignejoueur .mj, .lignejoueur .pj, .lignejoueur .titre{
width:15%;
font-weight:bold;
}

.chroniquepotouverte {
	background-color:white;
	color:#3d3d3d;
	margin:5px;
	border: 1px solid #a6a6a6;
	position: relative;
        width: 100%;
}

.openTFSRow {
	clear: both;
	padding: 8px 0px;
	vertical-align: top;
}

.openTFSMargin {
	width: 12%;
	display: inline-block;
}

.openTFSRowHeader {
	width: 15%;
    font-family: pt_sansbold;
	display: inline-block;
}

.openTFSComments {
	width: 87%;
}

.openTFSRowContent {
	display: inline-block;
}

.openTFSRowLabel {
	width: 30%;
	display: inline-block;
}

.openTFSRowField {
	width: 45%;
	display: inline-block;
}
.openTFSLeftButtons {
	display: inline-block;	
	float: left;
	position: relative;
}

.openTFSRightButtons {
	display: inline-block;	
	float: right;
	position: relative;
}

.caplayer {
	font-family: pt_sansbold;
}

.selectedPlayer {
	color: #CA153E;
	border: 1px solid #CA153E;
	padding: 0px 5px;
}

.commentUser {
    font-family: pt_sansitalic;
}

.commentSeparatorRow {
	line-height: 1px;
}
.commentSeparator {
    border-bottom: 1px dashed #a6a6a6;
    width: 58%;
    padding: 0px;
    display: inline-block;
}

.commentText {
	width: 58%;
}

.storyName {
	font-family: pt_sansitalic;
	text-align: center;
	margin-top: -20px;
	font-size: 16px;
}

.gameTime {
	margin-top: 20px;
	position: absolute;
	right: 0;
    padding: 5px 10px;
	background-color:#CA153E;
    color: white;
    border: 1px solid white;
	text-align: center;
}

.boutonplus{
position:absolute;
top:0px;
right:-2px;
width:25px;
height:25px;
background-color:#009bba;
color:white;
}

.boutonmoins{
position:absolute;
top:0px;
right:-2px;
width:25px;
height:25px;
background-color:#ca153e;
color:white;
}

.boutonmoins a, .boutonplus a {
color:white;
font-family:pt_sansbold_italic;
text-align:center;
display:block;
text-decoration:none;
line-height:25px;
}

.validationpartie{
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
text-align:center;
background-color:#ca153e;
color:white;
line-height:30px;
width:75px;
margin-left:-25px;

}

#adminNav {
    text-align: center;
}

#adminNav .button {
    display: inline-block;
    margin: 10px 30px;
}

.managerPanel {
    margin: 10px;
    padding: 10px;
    border-radius: 0px;
    background-color:#FFFFFF;
    max-width: none;
}
.managerPanel > .managerHeading {
    background-image: none;
    background-color:#009bba;
    color:white;
    border-radius: 0px;
    overflow: hidden;
}

.managerHeading > h3 {
    float: left;
}

.managerHeading > button {
    float: right;
}

.settingPic {
    width: 100%;
    height: auto;
}

.managerPicsColumn {
    width: 40%;
}

/* Surcharges Bootstrap */

.modal-content {
    border-radius: 0px;
}

.modal-header {
    background-color:#009bba;
    color:white;
}

.modal-header .close {
    color:white;
    opacity: 1;
}

.btn {
    border-radius: 0px;
    background-image: none;
}

.btn-success.active, .btn-success:hover, .btn-success:focus, .btn-success,
.btn-primary.active, .btn-primary:hover, .btn-primary:focus, .btn-primary {
    background-color: #009bba;
    border-color: #a6a6a6;
}

.btn-danger.active, .btn-danger:hover, .btn-danger:focus, .btn-danger {
    background-color: #ca153e;
    border-color: #a6a6a6;
}
