* {
	-webkit-font-smoothing: antialiased;
}
​
html, html a, button {
    -webkit-font-smoothing: antialiased !important;
}

.dropdown {
	display: none;
}
.hidden {
	display: none;
}
.clickable {
	cursor: pointer;
}
#newSettingImg {
       width: 100%
}
#newSettingImgMessage {
       margin: 30px 0px;
}
.fileDropZoneDragOver {
	background-color: #303030;
	color : white;
	font-weight: bold;	
}
.infoTooltip {
	border-color: #CA153E;
	color: #CA153E;
	background-color: white;
	font-size: 12px;
	border-width: 2px;
}
/*
div {
	border: 1px solid black;
}
*/
.right {
    float: right;
}

/* -------------- CSS admin ------------------ */

.modalButtonsBox {
    text-align: right;
}
.navBar {
    margin: 10px;
    padding: 10px;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    background-color:#FFFFFF;
    max-width: none;
    overflow: hidden;
}
.dummyInlineContainer {
    display: inline;
    margin: 0px;
    padding: 0px;
}
.largeModal {
    width: 1100px;
}
.buttonsColumn {
    width: 400px;
}
.buttonHelper {
    font-weight: bold;
    display: none;
}

/* -------------- CSS Maureen ----------------- */

@font-face {
    font-family: 'glyphicons';
    src: url('font/glyphicons/glyphicons-halflings-regular.eot');
    src: url('font/glyphicons/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('font/glyphicons/glyphicons-halflings-regular.woff') format('woff'),
         url('font/glyphicons/glyphicons-halflings-regular.ttf') format('truetype'),
         url('font/glyphicons/glyphicons-halflings-regular.svg#glyphicons') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansregular';
    src: url('font/ptsans_regular_macroman/PTS55F-webfont.eot');
    src: url('font/ptsans_regular_macroman/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ptsans_regular_macroman/PTS55F-webfont.woff') format('woff'),
         url('font/ptsans_regular_macroman/PTS55F-webfont.ttf') format('truetype'),
         url('font/ptsans_regular_macroman/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansitalic';
    src: url('font/ptsans_italic_macroman/PTS56F-webfont.eot');
    src: url('font/ptsans_italic_macroman/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ptsans_italic_macroman/PTS56F-webfont.woff') format('woff'),
         url('font/ptsans_italic_macroman/PTS56F-webfont.ttf') format('truetype'),
         url('font/ptsans_italic_macroman/PTS56F-webfont.svg#pt_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansbold_italic';
    src: url('font/ptsans_bolditalic_macroman/PTS76F-webfont.eot');
    src: url('font/ptsans_bolditalic_macroman/PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ptsans_bolditalic_macroman/PTS76F-webfont.woff') format('woff'),
         url('font/ptsans_bolditalic_macroman/PTS76F-webfont.ttf') format('truetype'),
         url('font/ptsans_bolditalic_macroman/PTS76F-webfont.svg#pt_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansbold';
    src: url('font/ptsans_bold_macroman/PTS75F-webfont.eot');
    src: url('font/ptsans_bold_macroman/PTS75F-webfont.svg#pt_sansbold') format('svg'),
         url('font/ptsans_bold_macroman/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ptsans_bold_macroman/PTS75F-webfont.woff') format('woff'),
         url('font/ptsans_bold_macroman/PTS75F-webfont.ttf') format('truetype');         
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'amerikaregular';
    src: url('font/amerika_regular/AMERIKA_-webfont.eot');
    src: url('font/amerika_regular/AMERIKA_-webfont.svg#amerikaregular') format('svg'),
         url('font/amerika_regular/AMERIKA_-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/amerika_regular/AMERIKA_-webfont.woff') format('woff'),
         url('font/amerika_regular/AMERIKA_-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body{
font-family:pt_sansregular;
font-size:14px;
margin: 0px;
}

#topContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;	
/*    max-width: 1216px;*/
}

#planning {
	margin-left: 6px;
	margin-right: 6px;
}

.relMenu {
	clear: both;
	background: none repeat scroll 0% 0% #009BB9;
	min-height: 36px;
	overflow: hidden;
}

.relMenuItem {
	font: 15px/26px "pt_sansregular","Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
	display: inline-block;
	padding: 5px;
	color: #FFF;
}

.relMenuItemSelected {
	background-color: #0D7B92;
}

.relMenuItem a{
	text-decoration: none;
	color: #FFF;
}

.relMenuItem.right a {
	border: 1px solid #FFF;
	padding: 3px 9px;
	background-color: #009bba;
	color: #FFF;	
}

.relMenuItem.right a:hover,
.relMenuItem.right a:active {
	background-color: #FFF;
	color: #009bba;	
}

.infoMessage {
    text-align: center;
    border: 1px solid #009bba;
    margin: 40px;
    padding: 30px;
}

.popup {
    border-color: #009bba;
    background-color: #FFF;
    color: #000;
    border-width: 2px;
    font-size:inherit;
}

.popup .qtip-titlebar {
    background-color: #009bba;
    color: white;
}

.fullwidth {
	margin-left: 0px;
	margin-right: 0px;
}

.downtext {
	display: inline-block;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.spacer {
	background-color:#009bba;
	height: 5px;
}

.buttonBox {
	text-align: center;
}

.button {
        padding: 5px 10px;
	background-color:#009bba;
        color: white;
        cursor: pointer;
        border: 1px solid white;
	text-align: center;
        border-radius: 0px;
        background-image: none;
}

.button2 {
        padding: 5px 10px;
	background-color:white;
        color: black;
        cursor: pointer;
        border: 1px solid #009bba;
	text-align: center;
        border-radius: 0px;
        background-image: none;
}

.button3 {
        padding: 5px 10px;
	background-color:#CA153E;
        color: white;
        cursor: pointer;
        border: 1px solid white;
	text-align: center;
        border-radius: 0px;
        background-image: none;
}

.button2on {
	background-color:#009bba;
        color: white;
}

.button:hover, .button:active, .button:focus {
	background-color: white;
        color: #009bba;
        border: 1px solid #009bba;
}

.button2:hover, .button2:active, .button2:focus {
	background-color:#009bba;
        color: white;
        border: 1px solid white;
}

.button3:hover, .button3:active, .button3:focus {
	background-color: white;
        color: #CA153E;
        border: 1px solid #CA153E;
}

.button:disabled {
	background-color:#9dcdd6;
}

.disabled3 {
	background-color:#e995a2;
}

.squarebutton {
	width: 25px;
	height: 25px;
	padding: 0px;
	font-family: pt_sansbold_italic;
	line-height: 25px;
	display: inline-block;
}

.glyph {
	font-family: glyphicons;
	font-size: 12px;
}

.verticalButton {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: absolute;
}

.rightSideButton1 {
	width: 70px;
	top: 40px;
	left: -61px;	
}

.rightSideButton2 {
	width: 70px;
	top: -14px;
	left: -61px;	
}

.rightSideButton3 {
	width: 50px;
	top: -14px;
	left: -51px;	
}

.rightSideButton4 {
	width: 50px;
	top: 14px;
	left: -51px;	
}

.buttonsRow {
	text-align:center;
}

.buttonsRow > div {
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
}

.leftSideNote1 {
	width: 70px;
	top: 22px;
	left: -31px;
	cursor: auto;	
}

#title {
    font-size: 2em;
    color: #009BB9;
    font-family: "amerikaregular",Arial,sans-serif;
    float: left;
    padding: 0px 30px 0px 30px;
    margin-top: 10px;
}

#userBox {
	float: right;
}

#userBox > div {
	display: inline-block;
	padding: 8px;
	margin-left: 15px;
	margin-right: 15px;
        margin-top: 10px;
}

#userBox .userbutton {
    color: #FFF;
    cursor: pointer;
}

#userBox #logoffbutton {
    background-color: #009BBA;
}

#userBox #adminbutton {
    background-color: #CA153E;
}

#userBox #username {
	font-family: pt_sansbold;
}

#filtersSuperbox {
	clear: both;
	background-color:#009bba;
}

#filtersToggle {
	text-align: right;
	background-color:#009bba;
	color: white;
	clear: both;
}

#filtersToggle > .switch {
	padding: 5px;
	display: inline-block;
	cursor: pointer;
}

#headerBar {
        margin-top: 20px;
        margin-bottom: 30px;
        overflow: hidden;
}

#banner {
	clear: both;
	background: #FFF url("../images/banner.png") no-repeat center center;
	height: 200px;
}

#filtersBox {
	padding-top: 10px;	
	background-color:#009bba;
	color: white;
        display: none;
}

.filtersBoxTitle {
	padding: 10px;
}

#openSettingsFiltersBox, #closedSettingsFiltersBox{
	width: 46%;
	float: left;
	display: inline-block;
	background-color:#009bba;
}

#openSettingsFiltersBox, #closedSettingsFiltersBox, .filtersList {
	overflow: hidden;
	padding-left: 10px;
}

#closedSettingsFiltersBox .filtersList {
	border-left: 2px solid white;
}

.filterSwitch{
	display: inline-block;
	float: left;
	border: 1px solid #FFF;
	background-color:white;
	color: #009bba;
	padding: 3px;
	margin: 3px;
	cursor: pointer;
}

.filterDisabled{
	background-color:#009bba;
	color: white;
}

.notifFlag {
        display: inline;
        vertical-align: -1px;
        color: #009bba;
        padding: 1px 3px 2px 3px;
        border-radius: 12px;
        border-width: 2px;
        border-style: solid;
 	    border-color: #009bba;
}

.filterDisabled .notifFlag {
	    background-color:#009bba;
    	color: white;
 	    border-color: white;
}

.notifFlag.notifNone {
	   border-color: white;
}

.filterDisabled .notifFlag.notifNone {
 	    border-color: #009bba;
}

.notifFlag.notifAll {
	border-color:#CA153E;
	color: #CA153E;
}


.notifFlag.notifNewGames {
	border
}

#dateScrollers {
	clear: both;
	text-align:center;
	font-size:20px;
	padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#dateScrollers .arrow {
	color: #009bba;
	text-decoration: none;
	font-weight: bold;
	margin-left: 30px;
	margin-right: 30px;
}

.loginpopup {
    max-width: 400px;
    width: 100%;
}

.setpasswordpopup {
    max-width: 400px;
    width: 100%;
}

.loginpopup .qtip-content,
 .setpasswordpopup .qtip-content {
    padding: 0px;
}

.helppopup {
    max-width: 440px;
    width: 100%;
}


#loginForm > div,
#setpasswordForm > div
 {
    padding: 5px 10px;
}

#loginForm label {
    display: inline-block;
    width: 150px;
}

#setpasswordForm label {
    display: inline-block;
    width: 220px;
}

#loginmessage,
#setpasswordmessage {
        padding: 5px 10px;
        background-color: #009bba;
        color: white;
}

.dateBoundary {
        font-family: 'pt_sansbold';
}

.selectDayToggle {
        display: inline-block;
        padding: 0px 10px;
        margin-right: 20%;
        float: right;
        font-family: 'pt_sansitalic';
}

.addSettingColumn {
    float: left;
    overflow: hidden;
    margin-left: 3px;
    margin-right: 3px;
}

.addSettingColumnHeader {
        margin-top: 3px;
        margin-bottom: 3px;
        color: #009bba;
        border: 1px solid #009bba;
        padding: 10px 10px;
}

.addsettingpopup {
       max-width: inherit;
}

.addSettingButton {
        margin-top: 3px;
        margin-bottom: 3px;
}

#createSettingButton {
	clear: both;
        width: 100%;
        padding: 10px 10px;
}

.selectDayDropdown {
        padding-left: 0px;
}

.selectDayDropdown li {
        list-style-type: none;
        margin-top: 3px;
        margin-bottom: 3px;
        text-align: left;
}

#createSettingForm {
        width: 100%;
        margin-left: auto;
        margin-right: auto;	
        text-align: center;
}

#createSettingForm .inlines {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        display: inline-block;
}

#createSettingForm .fullrow {
        margin-top: 5px;
        margin-bottom: 5px;
        display: block;
}

#clearImageButton {
        display: block;
        width: 500px;
        margin-left: auto;
        margin-right: auto;	
}

#submitSettingButton {
        display: block;
        width: 500px;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;	
}

.fileDropZone {
	border: 5px dashed #E0E0E0;
	max-width: 500px;
        width: 90%;
	text-align: center;
	background-size: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;	
}

.multijournees {
background-color:#009bba;
color: white;
border: 0;
padding: 15px;
margin: 10px 0;
}

.parties{
position:relative;
width:100%;
border: 1px solid #bfbfbf;
border-spacing: 0px;
margin: 5px 0;
}
.colonneparties {
    display: inline-block;
    width: 45%;
    min-width: 200px;
    vertical-align: top;
}
.demijourneedate {
text-align:center;
width:10%;
background-color:#009bba;
color: white;
vertical-align:top;
padding: 10px;
}

.demijourneeparties {
width:90%;
background-color:#e6e6e6;
vertical-align:top;
padding: 10px;
border-left: 1px solid #a6a6a6;
position:relative;
}


.titre-colone{
font-family:pt_sansbold_italic;
margin:10px;
text-align:center;
color: #737373;
}

.ajouterpartie{
margin:10px;
font-family:pt_sansitalic;
text-align:center;
color: #737373;
cursor:pointer;
}

.chroniquepotclose{
position:relative;
width:100%;
background-color:#009bba;
font-family:pt_sansbold_italic;
color:white;
margin-top: 5px;
margin-bottom: 5px;
border: 1px solid #a6a6a6;
border-collapse:collapse;
height: 2em;
}

.nomchronique{
padding: 5px;
text-align:center;
}

.myschedule {
position:absolute;
line-height:26px;
width:26px;
height:26px;
padding: 1px;
}

.newStuff {
position:absolute;
line-height:26px;
width:26px;
height:26px;
padding: 1px;
color: white;
left: 30px;
}

.clickouvrir{
position:absolute;
top:-0x;
right:0px;
/*border: 1px solid #a6a6a6;*/
line-height:26px;
width:26px;
height:26px;
background-color:white;
cursor: pointer;
padding: 1px;
}



.clickfermer{
position:absolute;
top:0px;
right:0px;
/*border: 1px solid #a6a6a6;*/
line-height:26px;
width:26px;
height:26px;
background-color:white;
cursor: pointer;
padding: 1px;
}

.clickouvrir span, .clickfermer span {
font-family:pt_sansbold_italic;
color:#3d3d3d;
text-align:center;
vertical-align:middle;
display:block;
text-decoration:none;
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);
}

.myschedule span {
	text-align:center;
	vertical-align:middle;
	display:block;
}

.imagechronique{
width:100%;
position:relative;
overflow:hidden;
}

.imagechronique img{
width:100%;
}

.chroniquepartie{
font-family:pt_sansbold_italic;
text-align:center;
margin:20px 0;
font-size:16px;
}

.barrechronique{
background-color:#a6a6a6;
height:1px;
width:75%;
margin:10px auto;
}

.chroniquepotouverte {
	background-color:white;
	color:#3d3d3d;
	border: 1px solid #a6a6a6;
	position: relative;
        width: 100%;
margin-top: 5px;
margin-bottom: 5px;
}

.openTFSRow {
	clear: both;
	padding: 8px 0px;
	vertical-align: top;
}

.openTFSMargin {
	width: 12%;
	display: inline-block;
}

.openTFSRowHeader {
	width: 15%;
    font-family: pt_sansbold;
	display: inline-block;
}

.openTFSComments {
	width: 87%;
}

.openTFSRowContent {
	display: inline-block;
}

.openTFSRowLabel {
	width: 30%;
	display: inline-block;
}

.openTFSRowField {
	width: 45%;
	display: inline-block;
}
.openTFSLeftButtons {
	display: inline-block;	
	float: left;
	position: relative;
}

.openTFSRightButtons {
	display: inline-block;	
	float: right;
	position: relative;
}

.caplayer {
	font-family: pt_sansbold;
}

.busyplayer {
	text-decoration: line-through;
}

.playingTooltip {
	background-color:#009bba;
	border: 1px solid #009bba;
    color: white;
	font-family: pt_sansregular;
	font-size: 12px;
}

.selectedPlayer {
	color: #CA153E;
	border: 1px solid #CA153E;
	padding: 0px 5px;
}

.commentUser {
    font-family: pt_sansitalic;
}

.commentSeparatorRow {
	line-height: 1px;
}
.commentSeparator {
    border-bottom: 1px dashed #a6a6a6;
    width: 58%;
    padding: 0px;
    display: inline-block;
}

.commentText {
	width: 58%;
}

.storyName {
	font-family: pt_sansitalic;
	text-align: center;
	margin-top: -20px;
	font-size: 16px;
}

.gameTime {
	margin-top: 20px;
	position: absolute;
	right: 0;
    padding: 5px 10px;
	background-color:#CA153E;
    color: white;
    border: 1px solid white;
	text-align: center;
}

#adminNav {
    text-align: center;
}

#adminNav .button {
    display: inline-block;
    margin: 10px 30px;
}

.managerPanel {
    margin: 10px;
    padding: 10px;
    border-radius: 0px;
    background-color:#FFFFFF;
    max-width: none;
}
.managerPanel > .managerHeading {
    background-image: none;
    background-color:#009bba;
    color:white;
    border-radius: 0px;
    overflow: hidden;
}

.managerHeading > h3 {
    float: left;
}

.managerHeading > button {
    float: right;
}

.settingPic {
    width: 100%;
    height: auto;
}

.managerPicsColumn {
    width: 40%;
}

/* Month Calendar */
#calendar {
    border: 1px solid #a6a6a6;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#calendar td {
    border: 0px none;
    vertical-align: top;
}

#calendar td.outside {
    background-color: #e0e0e0;
}

#calendar .caldaynum {
    background-color:#009bba;
    color:white;
    font-family: pt_sansbold;
}

#calendar .caltimeframe {
    border-left: 1px solid #009bba;
    border-right: 1px solid #009bba;
    border-bottom: 1px solid #009bba;
    border-top: 0px none;
    padding: 5px 0px;
}

#calendar .caltfname {
}

#calendar .calgame {
    margin: 5px 0px;
    font-family: pt_sansbold;
}

#calendar .calgame > span {
	border: 1px solid #009bba;
	padding: 2px 20px;
}

#calendar .mygame > span {
	border: 1px solid #CA153E;
	color: #CA153E;
}

.gameTooltip {
   border: 1px solid #009bba;
   display: none;
   background-color: #FFF;
   font-size: 14px;
   color: black;
}

.gameTooltipBox {
    display: none;
}

.gameTooltip > .qtip-content{
    padding: 0px;
}

.gameTooltipBox .gameSetting {
    background-color:#009bba;
    color:white;
    font-family: pt_sansregular;
    padding: 10px 14px;
}

.gameTooltipBox .gameTitle {
    font-style: italic;
}

.gameTooltipBox .calGameLabel {
    font-family: pt_sansbold;
}

.gameTooltipBox .gameData {
    padding: 10px 10px;
}

.gameTooltipBox .gameData > div {
    padding: 5px 0px;
}

/* Surcharges Bootstrap */

.modal-content {
    border-radius: 0px;
}

.modal-header {
    background-color:#009bba;
    color:white;
}

.modal-header .close {
    color:white;
    opacity: 1;
}

.btn {
    border-radius: 0px;
    background-image: none;
}

.btn-success.active, .btn-success:hover, .btn-success:focus, 
.btn-primary.active, .btn-primary:hover, .btn-primary:focus, {
    background-color: white;
    border-color: #a6a6a6;
}

.btn-danger.active, .btn-danger:hover, .btn-danger:focus,{
    background-color: #ca153e;
    border-color: #a6a6a6;
}
