    <div>{{comment.player}}</span></div>
    <div class="msgBox">
        <span ng-show="!editing">{{comment.message}}</span>
            <textarea ng-show="editing" rows="5" wrap="soft" ng-model="newmessage"></textarea>
    </div>
    <div ng-show="reader == comment.player">
        <div ng-show="editing">
            <a href="#" ng-click="storeComment()">Enregistrer</a> <a href="#" ng-click="cancelEdit()">Annuler</a>
        </div>
        <div ng-show="!editing">
            <a href="#" ng-click="startEdit()">Modifier</a> <a href="#" ng-click="deleteComment()">Supprimer</a>
        </div>
    </div>

