<table class="partieouverte">
<tr><td>
<div class="imagechronique"><img ng-src="{{ getSettingPicUrl(tfsetting.settingid) }}"></img></div>
<div class="clickfermer" ng-click="close()"><span>&lt;</span></div>
<div class="chroniquepartie">{{tfsetting.name}} <!--(Ouvert)--></div>
<div class="barrechronique"></div>

<div ng-if="tfsetting.hasgame">{{tfsetting.defgame.name}}</div>

<div ng-if="tfsetting.hasgame">{{tfsetting.defgame.start}}</div>

<div ng-switch="displayMode">
    <!-- Bloc disponibilites -->
    <div ng-switch-when="prepare" style="position:relative;">
        <!-- Listes de joueurs / MJ dispos -->
        
        <table class="joueurchronique">
        <tr class="lignejoueur"> 
        <td rowspan="2" align="left" width="12%"><div bo-if="(tfsetting.mystatus.dispoMJ) && (!timeframe.busy) && (tfsetting.canplay)" ng-click="openGMMode()" class="validationpartie">
            Mode MJ
        </div></td>
        <td class="mj">MJ</td>
        <td><span bindonce ng-repeat="playerSchedule in tfsetting.availablegms"> <span bo-if="$index > 0">, </span><span ttip="timeframe.gaming[playerSchedule.player]" ng-class="{busyplayer : timeframe.gaming[playerSchedule.player], caplayer : isAdmin(playerSchedule.player) }" bo-text="playerSchedule.player"></span> </span></td>
        <td class="tablebouton">
        <div class="boutonplus" ng-click="setDispo('GM')"  ng-show="!tfsetting.mystatus.dispoMJ"><a href="#" >+</a></div>
        <div class="boutonmoins" ng-click="clearDispo('GM')"  ng-show="tfsetting.mystatus.dispoMJ"><a href="#"  >-</a></div>
        </td>
        </tr>
        
        
        <tr class="lignejoueur">
        <td class="pj">PJ</td>
        <td> <span bindonce ng-repeat="playerSchedule in tfsetting.availableplayers"> <span bo-if="$index > 0">, </span><span ttip="timeframe.gaming[playerSchedule.player]" ng-class="{busyplayer : timeframe.gaming[playerSchedule.player], caplayer : isAdmin(playerSchedule.player) }" bo-text="playerSchedule.player"></span> </span></td>
        <td class="tablebouton">
        <div class="boutonplus" ng-click="setDispo('PLAYER')"  ng-show="!tfsetting.mystatus.dispoPJ"><a href="#" >+</a></div>
        <div class="boutonmoins" ng-click="clearDispo('PLAYER')"  ng-show="tfsetting.mystatus.dispoPJ"><a href="#" >-</a></div>
        </td>
        </tr>
        </table>
        
        <div class="barrechronique"></div>
        <!-- Boutons ajout / suppression de dispo -->


       
    </div>

    <!-- Bloc Mode MJ -->

    <div ng-switch-when="validate">
        <div>
            Validation
        </div>

        <div>
            MJ :
            <span bindonce ng-repeat="playerSchedule in tfsetting.availablegms"> <span bo-if="$index > 0">, </span><span  ttip="timeframe.gaming[playerSchedule.player]" ng-class="{busyplayer : timeframe.gaming[playerSchedule.player], caplayer : isAdmin(playerSchedule.player), selectedPlayer: (playerSchedule.player == currentuser) }" bo-text="playerSchedule.player"></span> </span>
            <br/>
            PJ :
            <span bindonce ng-repeat="playerSchedule in tfsetting.availableplayers"> <span bo-if="$index > 0">, </span><span ng-click="togglePlayerSelection(playerSchedule)" ttip="timeframe.gaming[playerSchedule.player]" ng-class="{busyplayer : timeframe.gaming[playerSchedule.player], caplayer : isAdmin(playerSchedule.player), selectedPlayer: isPlayerSelected(playerSchedule.player) }" bo-text="playerSchedule.player"></span> </span>
        </div>

        <div ng-click="validateGame()">
            Valider
        </div>
        <div ng-click="cancelGMMode()">
            Annuler
        </div>
    </div>

    <!-- Bloc Partie Validée -->

    <div ng-switch-when="game">
       <!-- <div>
            Validée
        </div>-->

        
        <table class="joueurchronique">
        <tr class="lignejoueur"> 
        <td rowspan="2" align="left" width="12%"><div bo-if="(tfsetting.mystatus.dispoMJ) && (!timeframe.busy) && (tfsetting.canplay)" ng-click="openGMMode()" class="validationpartie">
            Mode MJ
        </div></td>
        <td class="mj">MJ</td>
        <td><span ng-class="{caplayer: isAdmin(tfsetting.defgame.gm.player)}">{{ tfsetting.defgame.gm.player }}</span></td>
        <td class="tablebouton">
        <!--<div class="boutonplus" ng-click="setDispo('GM')"  ng-show="!tfsetting.mystatus.dispoMJ"><a href="#" >+</a></div>
        <div class="boutonmoins" ng-click="clearDispo('GM')"  ng-show="tfsetting.mystatus.dispoMJ"><a href="#"  >-</a></div><!--
        </td>
        </tr>
        
        
        <tr class="lignejoueur">
        <td class="pj">PJ</td>
        <td> <span bindonce ng-repeat="playerSchedule in tfsetting.defgame.players"> <span bo-if="$index > 0">, </span><span bo-class="{caplayer : isAdmin(playerSchedule.player)}" bo-text="playerSchedule.player"></span> </span></td>
        <td class="tablebouton">
        <!--<div class="boutonplus" ng-click="setDispo('PLAYER')"  ng-show="!tfsetting.mystatus.dispoPJ"><a href="#" >+</a></div>
        <div class="boutonmoins" ng-click="clearDispo('PLAYER')"  ng-show="tfsetting.mystatus.dispoPJ"><a href="#" >-</a></div>-->
        </td>
        </tr>
        
        <tr class="lignejoueur">
        <td class="pj">Dispo</td>
        <td> <span bindonce ng-repeat="playerSchedule in tfsetting.availableplayers"> <span bo-if="$index > 0">, </span><span ttip="timeframe.gaming[playerSchedule.player]" ng-class="{busyplayer : timeframe.gaming[playerSchedule.player], caplayer : isAdmin(playerSchedule.player) }" bo-text="playerSchedule.player"></span> </span></td>
        <td class="tablebouton">
        <!--<div class="boutonplus" ng-click="setDispo('PLAYER')"  ng-show="!tfsetting.mystatus.dispoPJ"><a href="#" >+</a></div>
        <div class="boutonmoins" ng-click="clearDispo('PLAYER')"  ng-show="tfsetting.mystatus.dispoPJ"><a href="#" >-</a></div>-->
        </td>
        </tr>
        
        
        </table>
        
        <div class="barrechronique"></div>
        
        <!--<div>
            MJ : <span ng-class="{caplayer: isAdmin(tfsetting.defgame.gm.player)}">{{ tfsetting.defgame.gm.player }}</span>
            <br/>
            PJ :
            <span bindonce ng-repeat="playerSchedule in tfsetting.defgame.players"> <span bo-if="$index > 0">, </span><span bo-class="{caplayer : isAdmin(playerSchedule.player)}" bo-text="playerSchedule.player"></span> </span>
        </div>

        <div>
            Restent dispo:
            <span bindonce ng-repeat="playerSchedule in tfsetting.availableplayers"> <span bo-if="$index > 0">, </span><span ttip="timeframe.gaming[playerSchedule.player]" ng-class="{busyplayer : timeframe.gaming[playerSchedule.player], caplayer : isAdmin(playerSchedule.player) }" bo-text="playerSchedule.player"></span> </span>
        </div>-->

        <div ng-if="tfsetting.defgame.gm.player == currentuser" ng-click="disbandGame()">
            Annuler la Partie
        </div>
        <div ng-if="tfsetting.defgame.gm.player == currentuser" ng-click="openGMMode()">
            Modifier la partie
        </div>

        <div ng-if="tfsetting.mystatus.pj" ng-click="dropGame()">
            Quitter la partie
        </div>
    </div>
</div>

<!-- Commentaires -->

<div>
    Commentaires 
    <div class="commentBox" bindonce ng-repeat="comment in tfsetting.comments">
        <comment-box comment="comment" reader="currentuser" timeframe="timeframe" setting="tfsetting.settingid">
    </div>
    <div class="commentInput">
        <div>
            <textarea rows="5" placeholder="Tape ton commentaire" wrap="soft" ng-model="currentMessage"></textarea>
        </div>
        <div><a href="#" ng-click="storeComment()">Enregistrer</a></div>
    </div>

</div>
</td>
</tr>
</table>
