<div class="chroniquepotouverte">
<div class="imagechronique"><img ng-src="{{ getSettingPicUrl(tfsetting.settingid) }}"></img></div>
<div class="clickfermer" ng-click="close()"><span>&lt;</span></div>

<div ng-if="tfsetting.hasgame" class="gameTime">19h30{{tfsetting.defgame.start}}</div>
<div class="chroniquepartie">{{tfsetting.name}} </div>
<div ng-if="tfsetting.hasgame" class="storyName">Nom du scénar{{tfsetting.defgame.name}}</div>
<div class="barrechronique"></div>



<div ng-switch="displayMode">
    <!-- Bloc disponibilites -->
    <div ng-switch-when="prepare">
        <!-- Listes de joueurs / MJ dispos -->

        <div>
            <div class="openTFSRow openTFSMargin"></div>
            <div class="openTFSRow openTFSRowHeader">MJ :</div>
            <div class="openTFSRow openTFSRowContent">
                <span bindonce ng-repeat="playerSchedule in tfsetting.availablegms"> <span bo-if="$index > 0">, </span><span ttip="timeframe.gaming[playerSchedule.player]" ng-class="{busyplayer : timeframe.gaming[playerSchedule.player], caplayer : isAdmin(playerSchedule.player) }" bo-text="playerSchedule.player"></span> </span>
            </div>
            <div class="openTFSRightButtons">
                <div class="button squarebutton glyph" ng-click="setDispo('GM')"  ng-show="!tfsetting.mystatus.dispoMJ">&#x002B;</div>
                <div class="button3 squarebutton glyph" ng-click="clearDispo('GM')"  ng-show="tfsetting.mystatus.dispoMJ">&#x2212;</div>
            </div>
        </div>
    
        <div>
            <div class="openTFSRow openTFSMargin"></div>
            <div class="openTFSRow openTFSRowHeader">Joueurs :</div>
            <div class="openTFSRow openTFSRowContent">
                 <span bindonce ng-repeat="playerSchedule in tfsetting.availableplayers"> <span bo-if="$index > 0">, </span><span ttip="timeframe.gaming[playerSchedule.player]" ng-class="{busyplayer : timeframe.gaming[playerSchedule.player], caplayer : isAdmin(playerSchedule.player) }" bo-text="playerSchedule.player"></span> </span>
            </div>
            <div class="openTFSRightButtons">
                <div class="button squarebutton glyph" ng-click="setDispo('PLAYER')"  ng-show="!tfsetting.mystatus.dispoPJ">&#x002B;</div>
                <div class="button3 squarebutton glyph" ng-click="clearDispo('PLAYER')"  ng-show="tfsetting.mystatus.dispoPJ">&#x2212;</div>
            </div>
        </div>

        <div class="buttonsRow" ng-if="(tfsetting.mystatus.dispoMJ) && (!timeframe.busy) && (tfsetting.canplay)">
           <div class="button" ng-click="openGMMode()">
                Valider une partie
            </div>
        </div>
                            
        <div class="barrechronique"></div>
       
    </div>

    <!-- Bloc Mode MJ -->

    <div ng-switch-when="validate">
      <form name="mjForm" novalidate role="form">
        <div class="openTFSLeftButtons">
            <div class="button3 verticalButton leftSideNote1">
                Mode MJ
            </div>            
        </div>

        <div>
            <div class="openTFSRow openTFSMargin"></div>
            <div class="openTFSRow openTFSRowHeader">MJ :</div>
            <div class="openTFSRow openTFSRowContent">
                <span bindonce ng-repeat="playerSchedule in tfsetting.availablegms"> <span bo-if="$index > 0">, </span><span  ttip="timeframe.gaming[playerSchedule.player]" ng-class="{busyplayer : timeframe.gaming[playerSchedule.player], caplayer : isAdmin(playerSchedule.player), selectedPlayer: (playerSchedule.player == currentuser) }" bo-text="playerSchedule.player"></span> </span>
            </div>
        </div>
    
        <div>
            <div class="openTFSRow openTFSMargin"></div>
            <div class="openTFSRow openTFSRowHeader">Joueurs :</div>
            <div class="openTFSRow openTFSRowContent">
                 <span bindonce ng-repeat="playerSchedule in tfsetting.availableplayers"> <span bo-if="$index > 0">, </span><span ng-click="togglePlayerSelection(playerSchedule)" ttip="timeframe.gaming[playerSchedule.player]" ng-class="{busyplayer : timeframe.gaming[playerSchedule.player], caplayer : isAdmin(playerSchedule.player), selectedPlayer: isPlayerSelected(playerSchedule.player) }" bo-text="playerSchedule.player"></span> </span>
            </div>
            <div class="openTFSRightButtons">
                 <div class="button3 verticalButton rightSideButton2" ng-click="cancelGMMode()">Annuler</div>
            </div>
        </div>
                        
        <div class="barrechronique"></div>
       
        <div>
            <div class="openTFSRow openTFSMargin">&nbsp;</div>
            <div class="openTFSRow openTFSRowHeader openTFSComments">
                Informations Facultatives :
            </div>
        </div>

        <div>
            <div class="openTFSRow openTFSMargin"></div>
            <div class="openTFSRow openTFSRowLabel">Nom du Scénario:</div>
            <div class="openTFSRow openTFSRowField">
                <input type="text" 
                        placeholder="Entrer un nom"
                        ng-model="storyName" required />            
            </div>
        </div>

        <div>
            <div class="openTFSRow openTFSMargin"></div>
            <div class="openTFSRow openTFSRowLabel">Heure de la partie:</div>
            <div class="openTFSRow openTFSRowField">
                <input type="text" 
                        placeholder="Entrer une heure"
                        ng-model="gameTime" required />            
            </div>
            <div class="openTFSRightButtons">
                 <div class="button3 verticalButton rightSideButton2" ng-class="{ disabled3 : mjForm.$invalid || isGameValidable() }" ng-click="validateGame();">Valider</div>
            </div>
        </div>
      </form>
    </div>

    <!-- Bloc Partie Validée -->

    <div ng-switch-when="game">
        <div class="openTFSLeftButtons">
            <div class="button3 verticalButton leftSideNote1">
                Validée
            </div>            
        </div>

        <div>
            <div class="openTFSRow openTFSMargin"></div>
            <div class="openTFSRow openTFSRowHeader">MJ :</div>
            <div class="openTFSRow openTFSRowContent">
                <span ng-class="{caplayer: isAdmin(tfsetting.defgame.gm.player)}">{{ tfsetting.defgame.gm.player }}</span>
            </div>
        </div>
    
        <div>
            <div class="openTFSRow openTFSMargin"></div>
            <div class="openTFSRow openTFSRowHeader">Joueurs :</div>
            <div class="openTFSRow openTFSRowContent">
                 <span bindonce ng-repeat="playerSchedule in tfsetting.defgame.players"> <span bo-if="$index > 0">, </span><span bo-class="{caplayer : isAdmin(playerSchedule.player)}" bo-text="playerSchedule.player"></span> </span>
            </div>
            <div class="openTFSRightButtons">
                 <div ng-if="tfsetting.defgame.gm.player == currentuser" class="button3 verticalButton rightSideButton3" ng-click="disbandGame()">Annuler</div>
                 <div ng-if="tfsetting.mystatus.pj" class="button3 verticalButton rightSideButton3" ng-click="dropGame()">Quitter</div>
            </div>
        </div>
                        
        <div class="barrechronique"></div>
       
        <div>
            <div class="openTFSRow openTFSMargin"></div>
            <div class="openTFSRow openTFSRowHeader">Restent dispos :</div>
            <div class="openTFSRow openTFSRowContent">
                 <span bindonce ng-repeat="playerSchedule in tfsetting.availableplayers"> <span bo-if="$index > 0">, </span><span ttip="timeframe.gaming[playerSchedule.player]" ng-class="{busyplayer : timeframe.gaming[playerSchedule.player], caplayer : isAdmin(playerSchedule.player) }" bo-text="playerSchedule.player"></span> </span>
            </div>
            <div class="openTFSRightButtons">
                 <div ng-if="tfsetting.defgame.gm.player == currentuser" class="button3 verticalButton rightSideButton4" ng-click="openGMMode()">Modifier</div>
            </div>
        </div>
                        
        <div class="barrechronique"></div>
               
    </div>
</div>

<!-- Commentaires -->

<div>

    <div>
        <div class="openTFSRow openTFSMargin">&nbsp;</div>
        <div class="openTFSRow openTFSRowHeader openTFSComments">
            Commentaires :
        </div>
    </div>

    <comment-box ng-repeat="comment in tfsetting.comments" comment="comment" reader="currentuser" timeframe="timeframe" setting="tfsetting.settingid"></comment-box>

    <div>
        <div class="openTFSRow openTFSMargin"></div>
        <div class="openTFSRow openTFSRowHeader"></div>
        <div class="openTFSRow openTFSRowContent">
            <textarea rows="5" placeholder="Tape ton commentaire" wrap="soft" ng-model="currentMessage"></textarea>
        </div>
        <div class="openTFSRightButtons">
             <div class="button verticalButton rightSideButton1" ng-click="storeComment()">Envoyer</div>
        </div>
    </div>

</div>

</div>

