<li class="list-group-item list-group-item-info">
	<img class="timeFrameItem timeFramePic" bo-attr bo-attr-ttip="timeframesDesc[timeframe.code].name" bo-src="timeframesDesc[timeframe.code].pic"/>
	{{ timeframesDesc[timeframe.code].name }}<a href="#" ng-click="triggerExtraSettingTooltip()" class="badge"><span class="glyphicon glyphicon-plus-sign"></span></a>
</li>
<li class="list-group-item" ng-click="triggerTfSettingTooltip()" gg-tf-setting display="mobile" ng-class="settingClasses" ng-repeat="schedule in timeframe.settings">
	
</li>
