<!DOCTYPE html>
<html lang="fr" ng-app="timeForGamesApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Rêves et Légendes - Planification des Parties</title>

        <link rel="stylesheet" href="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css">
        <link rel="stylesheet" href="css/tfg.css">
        <link rel="shortcut icon" type="image/x-icon" href="images/logo_t10.jpg" />

        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js"></script>

        <script src="lib/angular-file-upload-shim.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.js"></script>
        <script src="lib/angular-file-upload.min.js"></script>

        <script src="lib/angular-locale_fr-fr.js"></script>
        <script src="lib/angular-local-storage.min.js"></script>
        <script src="lib/bindonce.js"></script>
        <script src="js/gg.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/services.js"></script>
        <script src="js/directives.js"></script>

    </head>
    <body ng-controller="CalendarCtrl" data-display="desktop">
        <script type="text/javascript">
            $(function() {

                $('[ttip!=""]').qtip({
                    style : {
                        classes : 'infoTooltip'
                    },
                    content : {
                        attr : 'ttip'
                    },
                    position : {
                        my : 'bottom left',
                        at : 'top right'
                    },
                    show : {
                        event : 'mouseenter click',
                    },
                    hide : {
                        delay : 10,
                        event : 'mouseleave',
                    }
                });

                angular.element('body').scope().relogin();
            });
        </script>

        <!-- Pop-up de login -->

        <div id="logindialogcontainer" style="display: none">
            <div id="logindialog">
                <form id="loginForm" role="form"
                name="loginForm" ng-submit="login()">
                    <div>
                        {{ loginMessage }}
                    </div>
                    <div>
                        <label for="inputName">Tape ton
                            pseudo:</label>
                        <input type="text" id="inputName"
                        name="userinput" placeholder="Ton pseudo sur le forum"
                        ng-model="tempUser" required />
                    </div>
                    <div>
                        <label for="inputPassword">Tape ton
                            mot de passe:</label>
                        <input type="password" id="inputPassword"
                        name="passwordinput" placeholder="Ton mot de passe"
                        ng-model="tempPassword" required />
                    </div>
                    <div>
                        <button id="nameButton" ng-disabled="loginForm.$invalid" type="submit">
                            Valider
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Pop-up d'ajout d'une chronique -->

        <div id="addsettingdialogcontainer" style="display: none">
            <div id="addsettingdialog">
                <div onclick="$('#createSettingForm').slideDown(200)">
                    Ajouter une nouvelle chronique
                </div>
                <div id="createSettingForm"  style="display: none">
                    <form role="form" name="createSettingForm" ng-submit="createAndAddSetting()" novalidate>
                        <div>
                            Nom:
                            <input type="text" name="settingName" placeholder="Nom de la chronique" ng-model="newsetting.name" required maxlength="32"/>
                        </div>
                        <div>
                            <span ng-click="newsetting.mode=0" ng-class="{ noPlayBadge : newsetting.mode == 0 }">Ouverte</span>
                            <span ng-click="newsetting.mode=1" ng-class="{ noPlayBadge : newsetting.mode == 1 }">Fermée</span>
                            <span ng-click="newsetting.mode=2" ng-class="{ noPlayBadge : newsetting.mode == 2 }">One-Shot</span>
                        </div>
		      <div class="fileDropZone" ng-file-drop="onSettingPictureSelect($files)" ng-file-drag-over-class="fileDropZoneDragOver"
		            ng-show="dropSupported" >Déposer le fichier de l'image de fond ici (optionnel)</div>
		      <div ng-file-drop-available="dropSupported=true" 
		            ng-show="!dropSupported">Il est pourri ton navigateur !</div>
		      <button type="button" class="btn btn-danger" ng-click="clearImage()" ng-show="!uploading">Supprimer l'image</button>
			<div class="progress progress-striped active" ng-show="uploading">
			  <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress }}%">
			    <span class="">{{progress }}%</span>
			  </div>
			</div>
                        <button ng-disabled="createSettingForm.$invalid || (newsetting.mode<0)" type="submit">
                            Valider
                        </button>
                    </form>
                </div>
                <div>
                    <div ng-repeat="setting in currentTimeframe.possibleNewSettings" ng-click="addSetting(setting)">
                        {{setting.name}}
                    </div>
                </div>
            </div>
        </div>

        <!-- Boutons utilisateur -->

        <div id="userBox" ng-show="currentUser">
            <div id="welcomeText">
                Bienvenue {{ currentUser }}
            </div>
            <div ng-if="gui == 'admin'">
                <a href="admin.html">Interface d'Administration</a>
            </div>
            <div ng-click="logout()">
                Se déconnecter
            </div>
        </div>

        <!-- Panneau des filtres -->

        <div id="filtersSuperbox">

            <div id="filtersToggle">
                Filtres <span ng-if="!filtersOpen" ng-click="openFilters()">Ouvrir <i class="fa fa-chevron-down"></i> </span><span ng-if="filtersOpen" ng-click="closeFilters()">Fermer</span>
            </div>
            <div id="filtersBox">
                <div id="openSettingsFiltersBox">
                    Chroniques ouvertes

                    <div bindonce ng-repeat="setting in openSettings" ng-click="toggleSettingVisibility(setting.id)" ng-class="{filterDisabled : !setting.visible}">
                        <div>
                            <span bo-text="setting.name"></span>
                        </div>
                    </div>

                </div>
                <div id="closedSettingsFiltersBox">

                    Chroniques fermées

                    <div bindonce ng-repeat="setting in closedSettings" ng-click="toggleSettingVisibility(setting.id)" ng-class="{filterDisabled : !setting.visible}">
                        <div>
                            <span bo-text="setting.name"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div>
        <a href="#" ng-click="showPrevious()">Avant</a>

        <a href="#" ng-click="showNext()">Après</a>
        </div>

        <div id="planning">
            <div bindonce ng-repeat="timeframe in timeframes">

                <!-- Ligne d'aggrégation de plusieurs demi-journées -->

                <div bo-if="timeframe.collapsed" class="multijournees">

                    Période du <span bo-text="timeframe.date | date:'EEE dd/MM/yyyy'"></span>-<span bo-text="timeframesNames[timeframe.code]"></span> au <span bo-text="timeframe.end.date | date:'EEE dd/MM/yyyy'"></span>-<span bo-text="timeframesNames[timeframe.end.code]"></span>
                    - <span class="selectDayToggle">Ajouter une partie</span>
                    <ul class="selectDayDropdown dropdown">
                        <li bindonce ng-repeat="subtf in timeframe.subs">
                            <a href="#" ng-click="selectSetting(subtf)"><span bo-text="subtf.date | date:'EEE dd/MM/yyyy'"></span> - <span bo-text="timeframesNames[subtf.code]"></a>
                        </li>
                    </ul>
                </div>

                <!-- Ligne relative à une demi-journée  -->

                <div bo-if="!timeframe.collapsed" class="demijournee">
				<table class="parties">
				<tr> <td class="demijourneedate">
                    <div>
                        <span bo-text="timeframe.date | date:'EEE dd/MM/yyyy'"></span>
                        <br/>
                        <span bo-text="timeframesNames[timeframe.code]"></span>
                    </div>
					
					</td>
                    
					<td class="partiespotentielles">
					<div>

                        <!-- Colonne des parties potentielles  -->

                        <div class="titre-colone">
                            Parties potentielles
                        </div>
                        <div ng-repeat="tfsetting in timeframe.settings | filter : { hasgame : false } " ng-switch="getSettingVisibility(tfsetting)">

                            <!-- Bloc chronique ouvert -->

                            <div ng-switch-when="open">
                                <open-tf-setting timeframe="timeframe" tfsetting="tfsetting" refresh="refreshTimeFrame(timeframe)" currentUser="currentUser"/>
                            </div>

                            <!-- Bloc chronique fermé -->

                            
							<table ng-switch-when="closed" class="chroniquepotclose">
							<tr>
                              <!-- <td> <span ng-show="tfsetting.mystatus.dispo">Dispo</span> </td>-->
                               <td class="nomchronique"> <span>{{tfsetting.name}} <!--(Fermé)--></span> </td>
                               <td class="clickouvrir"> <a href="#" ng-click="openTfSetting(tfsetting)">></a> </td>
							</tr>	
								</table>
                           

                            <!-- Bloc chronique caché -->
        
                            <div ng-switch-when="hidden" class="hidden">
                            </div>

                        </div>
                        <div ng-click="selectSetting(timeframe)" class="ajouterpartie">
                           Ajouter une partie
                        </div>
                    </div>
					</td>
					
					<td class="partiesvalidees">
                    <div>
                    
                        <!-- Colonne des parties validées  -->
        
                        <div class="titre-colone">
                            Parties validées
                        </div>
                        <div ng-repeat="tfsetting in timeframe.settings | filter : { hasgame : true } " ng-switch="getSettingVisibility(tfsetting)">
        
                            <!-- Bloc chronique ouvert -->
        
                            <div ng-switch-when="open">
                                <open-tf-setting timeframe="timeframe" tfsetting="tfsetting" refresh="refreshTimeFrame(timeframe)" currentuser="currentUser"/>
                            </div>

                            <!-- Bloc chronique fermé -->
        
                            <div ng-switch-when="closed">
                                <span ng-show="(tfsetting.mystatus.pj) || (tfsetting.mystatus.mj)">Dispo</span>
                                <span>{{tfsetting.name}} (Fermé)</span>
                                <a href="#" ng-click="openTfSetting(tfsetting)">Ouvrir</a>
                            </div>
        
                            <!-- Bloc chronique caché -->
        
                            <div ng-switch-when="hidden" class="hidden">
                            </div>
        
                        </div>
                    </div>
					</td>
					</table>
                </div>                    
            </div>
        </div>
        </div>
    </body>
</html>

