<!DOCTYPE html>
<html lang="fr" ng-app="timeForGamesApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Rêves et Légendes - Planification des Parties</title>

        <link rel="stylesheet" href="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css">
        <link rel="stylesheet" href="css/tfg.css">
        <link rel="shortcut icon" type="image/x-icon" href="images/logo_t10.jpg" />

        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js"></script>

        <script src="lib/angular-file-upload-shim.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.js"></script>
        <script src="lib/angular-file-upload.min.js"></script>

        <script src="lib/angular-locale_fr-fr.js"></script>
        <script src="lib/angular-local-storage.min.js"></script>
        <script src="lib/bindonce.js"></script>
        <script src="js/gg.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/services.js"></script>
        <script src="js/directives.js"></script>

    </head>
    <body ng-controller="CalendarCtrl" data-display="desktop">
        <script type="text/javascript">
            $(function() {

                $('[ttip!=""]').qtip({
                    style : {
                        classes : 'infoTooltip'
                    },
                    content : {
                        attr : 'ttip'
                    },
                    position : {
                        my : 'bottom left',
                        at : 'top right'
                    },
                    show : {
                        event : 'mouseenter click',
                    },
                    hide : {
                        delay : 10,
                        event : 'mouseleave',
                    }
                });

                angular.element('body').scope().relogin();
            });
        </script>

        <!-- Pop-up de login -->

        <div id="logindialogcontainer" style="display: none">
            <div id="logindialog">
                <form id="loginForm" role="form"
                name="loginForm" ng-submit="login()" novalidate>
                    <div id="loginmessage">
                        {{ loginMessage }}
                    </div>

                    <div>
                        <label for="inputName">Tape ton
                            pseudo:</label>
                        <input type="text" id="inputName"
                        name="userinput" placeholder="Ton pseudo sur le forum"
                        ng-model="tempUser" required />
                    </div>
                    <div>
                        <label for="inputPassword">Tape ton
                            mot de passe:</label>
                        <input type="password" id="inputPassword"
                        name="passwordinput" placeholder="Ton mot de passe"
                        ng-model="tempPassword" required />
                    </div>
                    <div class="buttonBox">
                        <button class="button" ng-disabled="!tempUser" type="button" ng-click="resetPassword(tempUser)">
                            J'ai perdu mon mot de passe
                        </button>
                        <button id="nameButton" class="button" ng-disabled="(!tempUser) || (!tempPassword)" type="submit">
                            Valider
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Pop-up d'ajout d'une chronique -->

        <div id="addsettingdialogcontainer" style="display: none">
            <div id="addsettingdialog" class="buttonBox">
                <div>
                    <div class="addSettingColumn">
                        <div class="addSettingColumnHeader">Chroniques Ouvertes</div>
                        <div class="button2 addSettingButton" ng-repeat="setting in currentTimeframe.possibleNewSettings | filter : { mode : 0 }" ng-click="addSetting(setting)">
                        {{setting.name}}
                        </div>
                    </div>     
                    <div class="addSettingColumn">
                        <div class="addSettingColumnHeader">Chroniques Fermées</div>
                        <div class="button2 addSettingButton" ng-repeat="setting in currentTimeframe.possibleNewSettings | filter : { mode : 1 }" ng-click="addSetting(setting)">
                        {{setting.name}}
                        </div>
                    </div>     
                    <div class="addSettingColumn">
                        <div class="addSettingColumnHeader">One-shots</div>
                        <div class="button2 addSettingButton" ng-repeat="setting in currentTimeframe.possibleNewSettings | filter : { mode : 2 }" ng-click="addSetting(setting)">
                        {{setting.name}}
                        </div>
                    </div>     
                    <div class="addSettingColumn" ng-if="gui == 'admin'">
                        <div class="addSettingColumnHeader">Évènements Divers</div>
                        <div class="button2 addSettingButton" ng-repeat="setting in currentTimeframe.possibleNewSettings | filter : { mode : 3 }" ng-click="addSetting(setting)">
                        {{setting.name}}
                        </div>
                    </div>     
                </div>
                <div id="createSettingButton" class="button" onclick="$('#createSettingForm').slideDown(200)">
                    ... Ou créer une nouvelle chronique
                </div>
                <div id="createSettingForm"  style="display: none">
                    <form role="form" name="createSettingForm" ng-submit="createAndAddSetting()" novalidate>
                        <div class="inlines">
                            Nom:
                            <input type="text" name="settingName" placeholder="Nom de la chronique" ng-model="newsetting.name" required maxlength="32"/>
                        </div>
                        <div class="button2 modeButton inlines" ng-click="newsetting.mode=0" ng-class="{ button2on : newsetting.mode == 0 }">Ouverte</div>
                        <div class="button2 modeButton inlines" ng-click="newsetting.mode=1" ng-class="{ button2on : newsetting.mode == 1 }">Fermée</div>
                        <div class="button2 modeButton inlines" ng-click="newsetting.mode=2" ng-class="{ button2on : newsetting.mode == 2 }">One-Shot</div>
		      <div class="fileDropZone fullrow" ng-file-drop="onSettingPictureSelect($files)" ng-file-drag-over-class="fileDropZoneDragOver"
		            ng-show="dropSupported" >
<div id="newSettingImgMessage">
Dépose le fichier de l'image de fond ici (optionnel)<br/><br/>
Utilise une image plutôt large que haute (500 x 100 par exemple)
</div>
                         <img id="newSettingImg" ng-show="currentUploadFile"/>
                      </div>
		      <div class="fullrow" ng-file-drop-available="dropSupported=true" 
		            ng-show="!dropSupported">Il est pourri ton navigateur !</div>
		      <button id="clearImageButton" type="button" class="button3 fullrow" ng-click="clearImage()" ng-show="(!uploading) && currentUploadFile">Supprimer l'image</button>
<!--
			<div class="progress progress-striped active" ng-show="uploading">
			  <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress }}%">
			    <span class="">{{progress }}%</span>
			  </div>
			</div>
-->
                        <button id="submitSettingButton" class="button fullrow" ng-disabled="createSettingForm.$invalid || (newsetting.mode<0)" type="submit">
                            Valider
                        </button>
                    </form>
                </div>
            </div>
        </div>

    <div id="topContainer">

        <div class="spacer fullwidth">
        </div>

        <div id="title">Rêves et Légendes
        </div>
        <!-- Boutons utilisateur -->

        <div id="userBox" ng-show="currentUser">
            <div id="welcomeText">
                Bienvenue <span id="username">{{ currentUser }}</span>
            </div>
            <div id="adminbutton" class="userbutton" ng-if="gui == 'admin'" onclick="location.href='admin.html';">
                Interface d'Administration
            </div>
            <div id="logoffbutton" class="userbutton" ng-click="logout()">
                Se déconnecter
            </div>
        </div>

        <div id="banner" class="fullwidth">
        </div>

        <!-- Panneau des filtres -->

        <div id="filtersSuperbox" class="fullwidth">

            <div id="filtersBox">
                <div id="openSettingsFiltersBox">
                    <div class="filtersBoxTitle">Chroniques ouvertes</div>
                    <div class="filtersList">
                        <div class="filterSwitch" bindonce ng-repeat="setting in openSettings" ng-click="toggleSettingVisibility(setting.id)" ng-class="{filterDisabled : !setting.visible}">
                             <span bo-text="setting.name"></span>
                        </div>
                    </div>
                </div>
                <div id="closedSettingsFiltersBox">
                    <div class="filtersBoxTitle">Chroniques fermées</div>
                    <div class="filtersList">
                        <div class="filterSwitch" bindonce ng-repeat="setting in closedSettings" ng-click="toggleSettingVisibility(setting.id)" ng-class="{filterDisabled : !setting.visible}">
                            <span bo-text="setting.name"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="filtersToggle">
                <div ng-if="!filtersOpen" class="switch" ng-click="openFilters()">Filtres &nbsp;&nbsp;<span class="downtext">&gt;</span></div>
                <div ng-if="filtersOpen" class="switch" ng-click="closeFilters()">Filtres &nbsp;&nbsp;<span class="downtext">&lt;</span></div>
            </div>
        </div>

        <div id="dateScrollers">
            <a href="#" ng-click="showPrevious()" class="arrow">&lt;</a>

            Du {{ firstday | date : 'longDate' }} au {{ lastday | date : 'longDate' }}

            <a href="#" ng-click="showNext()"class="arrow">&gt;</a>
        </div>

        <div id="planning" class="fullwidth">
            <div bindonce ng-repeat="timeframe in timeframes">

                <!-- Ligne d'aggrégation de plusieurs demi-journées -->
                <div bo-if="timeframe.collapsed">
	                <timeframes-group timeframe="timeframe" />
                </div>

                <!-- Ligne relative à une demi-journée  -->

                <div bo-if="!timeframe.collapsed" class="demijournee">
				<table class="parties">
				<tr> <td class="demijourneedate">
                    <div>
                        <span bo-text="timeframe.date | date:'EEE dd/MM/yyyy'"></span>
                        <br />
                        <span bo-text="timeframesNames[timeframe.code]"></span>
                    </div>
					
					</td>
                    
					<td class="partiespotentielles">
					<div>

                        <!-- Colonne des parties potentielles  -->

                        <div class="titre-colone">
                            Parties potentielles
                        </div>
                        <div ng-repeat="tfsetting in timeframe.settings | filter : { hasgame : false } " ng-switch="getSettingVisibility(tfsetting)">

                            <!-- Bloc chronique ouvert -->

                            <div ng-switch-when="open">
                                <open-tf-setting timeframe="timeframe" tfsetting="tfsetting" refresh="refreshTimeFrame(timeframe)" currentUser="currentUser" admins="admins"/>
                            </div>

                            <!-- Bloc chronique fermé -->

                            <div ng-switch-when="closed" class="chroniquepotclose" ng-click="openTfSetting(tfsetting)">
                                <div class="myschedule glyph" ng-show="tfsetting.mystatus.dispo()"><span>&#xE008;</span></div>
                                <div class="newStuff glyph" ng-show="tfsetting.newStuff"><span>&#xE101;</span></div>
                                <div class="clickouvrir"><span>&gt;</span></div>
                                <div class="nomchronique">{{tfsetting.name}}</div>
                                
                            </div>                           

                            <!-- Bloc chronique caché -->
        
                            <div ng-switch-when="hidden" class="hidden">
                            </div>

                        </div>
                        <div ng-click="selectSetting(timeframe)" class="ajouterpartie">
                           Ajouter une partie
                        </div>
                    </div>
					</td>
					
					<td class="partiesvalidees">
                    <div>
                    
                        <!-- Colonne des parties validées  -->
        
                        <div class="titre-colone">
                            Parties validées
                        </div>
                        <div ng-repeat="tfsetting in timeframe.settings | filter : { hasgame : true } " ng-switch="getSettingVisibility(tfsetting)">
        
                            <!-- Bloc chronique ouvert -->
        
                            <div ng-switch-when="open">
                                <open-tf-setting timeframe="timeframe" tfsetting="tfsetting" refresh="refreshTimeFrame(timeframe)" currentuser="currentUser" admins="admins"/>
                            </div>

                            <!-- Bloc chronique fermé -->

                            <div ng-switch-when="closed" class="chroniquepotclose" ng-click="openTfSetting(tfsetting)">
                                <div class="myschedule glyph" ng-show="tfsetting.mystatus.dispo()"><span>&#xE008;</span></div>
                                <div class="newStuff glyph" ng-show="tfsetting.newStuff"><span>&#xE101;</span></div>
                                <div class="clickouvrir"><span>&gt;</span></div>
                                <div class="nomchronique">{{tfsetting.name}}</div>
                                
                            </div>                           
        
                            <!-- Bloc chronique caché -->
        
                            <div ng-switch-when="hidden" class="hidden">
                            </div>
        
                        </div>
                    </div>
					</td>
					</tr>
					</table>
                </div>                    
            </div>
        </div>
        </div>
      </div>
    </body>
</html>

