<!DOCTYPE html>
<html lang="fr" ng-app="timeForGamesApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Rêves et Légendes - Planification des Parties</title>

        <link rel="stylesheet" href="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css">
        <link rel="stylesheet" href="css/tfg.css">
        <link rel="shortcut icon" type="image/x-icon" href="images/logo_t10.jpg" />

        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js"></script>

        <script src="lib/angular-file-upload-shim.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.js"></script>
        <script src="lib/angular-file-upload.min.js"></script>

        <script src="lib/angular-locale_fr-fr.js"></script>
        <script src="lib/angular-local-storage.min.js"></script>
        <script src="lib/bindonce.js"></script>
        <script src="lib/angular-cache-buster.js"></script>
        <script src="js/gg.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/services.js"></script>
        <script src="js/directives.js"></script>

    </head>
    <body ng-controller="GamesCalendarCtrl" data-display="desktop">
        <script type="text/javascript">
            $(function() {

                $('[ttip!=""]').qtip({
                    style : {
                        classes : 'infoTooltip'
                    },
                    content : {
                        attr : 'ttip'
                    },
                    position : {
                        my : 'bottom left',
                        at : 'top right'
                    },
                    show : {
                        event : 'mouseenter click',
                    },
                    hide : {
                        delay : 10,
                        event : 'mouseleave',
                    }
                });

            });
        </script>


    <div id="topContainer">

        <div class="spacer fullwidth">
        </div>

        <div id="headerBar">

            <div id="title">Rêves et Légendes
            </div>
            <!-- Boutons utilisateur -->
    
            <div id="userBox">
                <div id="welcomeText" ng-show="currentUser">
                    Bienvenue <span id="username">{{ currentUser }}</span>
                </div>
                <div class="button" onclick="location.href='index.html';">
                    Planification des Parties
                </div>
            </div>
       </div>

       <div class="relMenu">
          <div class="relMenuItem" ><a href="http://rel-wiki.neyrick.fr">Wiki</a></div>
          <div class="relMenuItem relMenuItemSelected" >Planning des parties</div>
          <div class="relMenuItem" ><a href="http://reves-et-legendes.forum2jeux.com">Forum</a></div>
        </div>
        
        <div id="banner" class="fullwidth">
        </div>

        <div id="dateScrollers">
            <a href="#" ng-click="showPrevious()" class="arrow">&lt;</a>

            Mois de {{ currentDate | date : 'MMMM yyyy'}}

            <a href="#" ng-click="showNext()"class="arrow">&gt;</a>
        </div>

       <table id="calendar">
          <thead>
            <tr>
              <th bindonce ng-repeat="day in days">
                <span bo-text="day"></span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr bindonce ng-repeat="week in weeks">
              <td bindonce ng-repeat="day in week.days" bo-class="{ outside : day.outside }">
                <div bo-if="day.outside">&nbsp;</div>
                <div bo-if="!day.outside">
		        <div class="caldaynum" bo-text="day.dom"></div>
		        <div class="caltimeframe" bindonce ng-repeat="timeframe in day.timeframes">
                          <div class="caltfname"><span bo-text="timeframesNames[timeframe.code]"></span></div>
                          <div class="calgame" bindonce ng-repeat="game in timeframe.games" bo-class="{ mygame : game.mygame }">
                            <span bo-text="game.setting"></span>
                            <div class="gameTooltipBox">
                              <div class="gameSetting"><span bo-text="game.setting"></span></div>
                              <div class="gameData">
                                  <div><span bo-text="game.title" class="gameTitle"></span></div>
                                  <div><span class="calGameLabel">Heure:</span> <span bo-text="game.time"></span></div>
                                  <div><span class="calGameLabel">MJ:</span> <span bo-text="game.gm"></span></div>
                                  <div><span class="calGameLabel">PJ:</span> <span bindonce ng-repeat="player in game.players"> <span bo-if="$index > 0">,</span><span bo-text="player"></span></div>
                              </div>
                            </div>
                          </div>
                        </div>
                </div>
              </td>
            </tr>
          </tbody>
       </table>

      </div>
    </body>
</html>

