<!DOCTYPE html>
<html lang="fr" ng-app="timeForGamesApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Planification des Parties</title>

    <!-- Bootstrap -->
    <link href="lib/bootstrap.min.css" rel="stylesheet">
    <link href="css/tfg-mobile.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="CalendarCtrl" data-display="mobile">
   <div id="ggloading">
	<div></div>
   </div>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="loginModalLabel">{{ loginMessage }}</h4>
      </div>
      <div class="modal-body">
		<form role="form" id="loginForm" name="loginForm" ng-submit="login()">
			<div class="form-group">
				<input type="text" id="inputName" class="form-control"
					name="userinput" placeholder="Ton pseudo sur le forum"
					ng-model="tempUser" required />
			</div>
			<button class="btn btn-default" type="submit" ng-disabled="loginForm.$invalid">Valider</button>
		</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addSettingModal" tabindex="-1" role="dialog" aria-labelledby="addSettingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="addSettingModalLabel">Proposer une partie</h4>
      </div>
      <div class="modal-body modalTrim">

	<ul class="list-group">
	  <li class="list-group-item settingTrigger collapsible bg-primary ggbuttonbox" ng-click="openSettingEditor()">Créer une Chronique / One-Shot ...</li>
	  <li class="list-group-item settingEditor collapsed dummyContainer">
            <form class="form" role="form" name="createSettingForm" ng-submit="createAndAddSetting()" novalidate>
                <div class="form-group ggSubPanelItem bg-primary">
                    Nouvelle Chronique / One-Shot
                </div>
                <div class="form-group ggSubPanelItem">
                    <label for="settingName">Nom</label>
                	<input type="text" class="inputSettingName expand" name="settingName" placeholder="Nom de la chronique" ng-model="newsetting.name" required maxlength="32"/>
                </div>
                <div class="radio ggSubPanelItem">
                	<input type="radio" name="settingMode0" id="settingMode0" value="0" ng-model="newsetting.mode">Ouverte
                </div>
                <div class="radio ggSubPanelItem">
                    <input type="radio" name="settingMode1" id="settingMode1" value="1" ng-model="newsetting.mode">Fermée
                </div>
                <div class="radio ggSubPanelItem">
                    <input type="radio" name="settingMode2" id="settingMode2" value="2" ng-model="newsetting.mode">One-Shot
                </div>
                <div class="form-group ggSubPanelItem">
                	<label for="settingCode">Code (3 lettres max)</label>
                     <input type="text" class="inputSettingCode" name="settingCode" placeholder="XXX" ng-model="newsetting.code" required size="3" maxlength="3"/>
                </div>
                <button class="btn btn-primary btn-block" ng-disabled="createSettingForm.$invalid || (newsetting.mode<0)" type="submit">Valider</button>
             </form>
	  </li>
	  <li class="list-group-item" ng-repeat="setting in currentEdit.timeframe.possibleNewSettings" ng-click="addSetting(setting)" ng-class-odd="'oddline'" ng-class-even="'evenline'">{{setting.name}}</li>
	</ul>

      </div>
      <div class="modal-footer tfgModalFooter">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tfSettingModal" tabindex="-1" role="dialog" aria-labelledby="tfSettingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="tfSettingModalLabel">{{currentEdit.schedule.name}}</h4>
      </div>
      <div class="modal-body modalTrim">
    <ul class="list-group">
        <li class="list-group-item dispoDiv tfSettingAction" ng-show="currentEdit.status.dispoPJ && (!currentEdit.timeframe.busy)" alt-text="Pas dispo pour jouer ?" ng-click="clearDispo('PLAYER')" norm-text="Je suis dispo pour jouer"></li>
        <li class="list-group-item pasDispoDiv tfSettingAction" ng-show="(!currentEdit.status.dispoPJ) && (!currentEdit.timeframe.busy)" alt-text="Dispo pour jouer ?" ng-click="setDispo('PLAYER')" norm-text="Je ne suis pas dispo pour jouer"></li>
        <li class="list-group-item dispoDiv tfSettingAction" ng-show="currentEdit.status.dispoMJ && (!currentEdit.timeframe.busy)" alt-text="Pas dispo pour maîtriser ?" ng-click="clearDispo('GM')" norm-text="Je suis dispo pour maîtriser"></li>
        <li class="list-group-item validateDiv tfSettingAction collapsible" ng-show="((!editingGame) && (currentEdit.status.dispoMJ) && (!currentEdit.timeframe.busy) && (currentEdit.potentialPlayers.length > 0))" ng-click="openGameEditor()"><span>Valider une partie...</span></li>
        <li class="list-group-item validateDiv tfSettingAction collapsible" ng-show="((!editingGame) && (currentEdit.status.mj))" ng-click="openGameEditor()"><span>Modifier ma partie...</span></li>
        <li class="list-group-item pasDispoDiv tfSettingAction" ng-show="!currentEdit.status.dispoMJ && (!currentEdit.timeframe.busy)" alt-text="Dispo pour maîtriser ?" ng-click="setDispo('GM')" norm-text="Je ne suis pas dispo pour maîtriser"></li>
        <li class="list-group-item warningDiv tfSettingAction" ng-show="currentEdit.timeframe.busy && (currentEdit.timeframe.gaming[currentUser] != currentEdit.schedule.settingid)">Je suis déjà sur une autre partie !</li>
        <li class="list-group-item cancelDiv tfSettingAction" ng-show="currentEdit.status.pj" ng-click="dropGame()">Quitter la partie</li>
        <li class="list-group-item cancelDiv tfSettingAction" ng-show="currentEdit.status.mj" ng-click="disbandGame()">Annuler la partie</li>
        <li class="list-group-item gameEditor dummyContainer" ng-show="editingGame">
          <div class="ggSubPanelItem bg-primary">
                Choisis tes joueurs...
                <button class="btn btn-default btn-xs rightbutton" ng-disabled="currentEdit.numPlayers < 1" ng-click="validateGame(day.id, timeframe.code, schedule.id, $event)">... Puis clique ici !</button>
          </div>
          <div class="ggSubPanelItem tfSettingAction" ng-repeat="playerSchedule in currentEdit.potentialPlayers" ng-class="{validateDiv : currentEdit.gamePlayers[playerSchedule.player]}" ng-click="toggleGamePlayer(playerSchedule)">{{ playerSchedule.player }}</div>
        </li>
        <li class="list-group-item noteDiv commentTrigger tfSettingAction collapsible" ng-click="openCommentEditor()" ng-show="!editingComment"><span ng-show="!(currentEdit.schedule.idcomment>0)">Ajouter un commentaire...</span><span ng-show="currentEdit.schedule.idcomment>0">Modifier mon commentaire...</span></li>
        <li class="list-group-item commentEdit" ng-show="editingComment">
          <form class="form-inline" id="commentForm" role="form" name="commentForm" ng-submit="setComment()" novalidate>
            <div class="form-group inputContainer"><input type="text" class="form-control input-sm inputComment expand" name="comment" placeholder="Tape ton commentaire" ng-model="currentEdit.schedule.message"/></div>
            <button class="btn btn-primary btn-sm commentButton rightbutton" ng-disabled="commentForm.$invalid" type="submit">Valider</button>
          </form>
        </li>
        <li class="list-group-item" ng-repeat="game in currentEdit.schedule.games">
          <span class="confirmedgame tfSettingSubbox">Partie confirmée:</span>
          <ul class="gameRoster">
            <li class="nomMJ">{{ game.gm.player }}<span class="commentDisplay" ng-show="game.gm.comment"> - {{ game.gm.comment }}</span></li>
            <li ng-repeat="playerSchedule in game.players" class="nomPJ">{{ playerSchedule.player }}<span class="commentDisplay" ng-show="playerSchedule.comment"> - {{ playerSchedule.comment }}</span></li>
          </ul>
        </li>
        <li class="list-group-item">
          <span class="tfSettingSubbox">MJ Disponible(s):</span>
          <ul class="gameRoster">
            <li ng-repeat="playerSchedule in currentEdit.schedule.availablegms" class="nomMJ"><span ng-class="{busyplayer : currentEdit.timeframe.gaming[playerSchedule.player]}">{{ playerSchedule.player }}</span><span class="commentDisplay" ng-show="playerSchedule.comment"> - {{ playerSchedule.comment }}</span></li>
          </ul>
        </li>
        <li class="list-group-item">
          <span class="tfSettingSubbox">Joueur(s) Disponible(s):</span>
          <ul class="gameRoster">
            <li ng-repeat="playerSchedule in currentEdit.schedule.availableplayers" class="nomPJ"><span ng-class="{busyplayer : currentEdit.timeframe.gaming[playerSchedule.player]}">{{ playerSchedule.player }}</span><span class="commentDisplay" ng-show="playerSchedule.comment"> - {{ playerSchedule.comment }}</span></li>
          </ul>
        </li>
        <li class="list-group-item">
              <span class="tfSettingSubbox">Ne sont pas disponible(s):</span>
          <ul class="gameRoster">
            <li ng-repeat="playerSchedule in currentEdit.schedule.unavailable"><span ng-class="{busyplayer : currentEdit.timeframe.gaming[playerSchedule.player]}">{{ playerSchedule.player }}</span><span class="commentDisplay" ng-show="playerSchedule.comment"> - {{ playerSchedule.comment }}</span></li>
          </ul>
        </li>              
        <li class="list-group-item settingTrigger collapsible bg-primary ggbuttonbox" ng-click="showHistory($event)">Voir l'historique</li>
	</ul>

      </div>
      <div class="modal-footer tfgModalFooter">
        <button type="button" class="btn btn-default" data-dismiss="modal">Revenir au calendrier</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="historyModalLabel">{{ history.setting }} - {{ history.date }} - {{ history.timeframe }}</h4>
      </div>
      <div class="modal-body modalTrim">
        <table class="table historydialog" cellspacing="0">
            <tr class="" ng-class-even="'evenline'" ng-class-odd="'oddline'" ng-repeat="history in historyList">
                <td class="" ng-class-even="'evenline'" ng-class-odd="'oddline'"><span>{{ history.tstamp | date:'dd/MM/yyyy'}}</span></td>
                <td class="" ng-class-even="'evenline'" ng-class-odd="'oddline'"><span>{{ history.tstamp | date:'H:mm'}}</span></td>
                <td class=""><gg-history row="history"/></td>
            </tr>
        </table>
      </div>
      <div class="modal-footer tfgModalFooter">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer l'historique</button>
      </div>
    </div>
  </div>
</div>


   <div id="historydialogcontainer" style="display: none">
    </div>

<div class="modal fade" id="filtersModal" tabindex="-1" role="dialog" aria-labelledby="filtersModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="filtersModalLabel">Mes filtres d'affichage</h4>
      </div>
      <div class="modal-body modalTrim">

	<ul class="list-group">
	  <li class="list-group-item bg-primary">Par statut</li>
	  <li class="list-group-item" ng-class="{ggDisabledItem : !statusItem.visible, notAvailableBadge : statusItem.id == 0,
	      noPlayBadge : statusItem.id == 1, availableBadge : statusItem.id == 2, playBadge : statusItem.id == 3 }" ng-click="toggleStatusVisibility(statusItem.id)" ng-repeat="statusItem in statusDesc" bindonce >
	      <span class="badge tfSettingBadge">--</span>{{ statusItem.desc }}
	  </li>
      <li class="list-group-item bg-primary">One-shots</li> 
      <li class="list-group-item" ng-class="{ggDisabledItem : !setting.visible}" ng-click="toggleSettingVisibility(setting.id)" ng-repeat="setting in oneShots" bindonce >
          <span class="badge tfSettingBadge" bo-text="setting.code"></span>{{ setting.name }}
      </li>
      <li class="list-group-item bg-primary">Chroniques Ouvertes</li>
      <li class="list-group-item" ng-class="{ggDisabledItem : !setting.visible}" ng-click="toggleSettingVisibility(setting.id)" ng-repeat="setting in openSettings" bindonce >
          <span class="badge tfSettingBadge" bo-text="setting.code"></span>{{ setting.name }}
      </li>
      <li class="list-group-item bg-primary">Chroniques Fermées</li>
      <li class="list-group-item" ng-class="{ggDisabledItem : !setting.visible}" ng-click="toggleSettingVisibility(setting.id)" ng-repeat="setting in closedSettings" bindonce >
          <span class="badge tfSettingBadge" bo-text="setting.code"></span>{{ setting.name }}
      </li>
	</ul>
      </div>
      <div class="modal-footer tfgModalFooter">
        <button type="button" class="btn btn-default" data-dismiss="modal">Revenir au planning</button>
      </div>
    </div>
  </div>
</div>

	<div class="btn-group btn-group-justified">
	  <a class="btn headerLink" href="#">Salut {{ currentUser }} !</a>
	  <a class="btn headerLink" ng-click="logout()"><span class="glyphicon glyphicon-off text-danger"></span> Déconnexion</a>
	</div>
    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#filtersModal">Mes Filtres</button>

  <div bindonce class="well weekPanel" ng-repeat="week in weeks">
	  <ul bindonce class="list-group dayPanel"  ng-repeat="day in week.days">
	       <gg-day-tab day="day" display="mobile">
	  </ul>
</div>
    <script src="lib/jquery-1.11.0.min.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script>
    	<script src="https:////ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-touch.js"</script>
    	<script src="lib/angular-locale_fr-fr.js"></script>
	<script src="lib/angular-local-storage.min.js"></script>
	<script src="lib/bindonce.js"></script>
    <script src="lib/bootstrap.min.js"></script>
	<script src="js/gg.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/services.js"></script>
	<script src="js/directives.js"></script>

	<script type="text/javascript">

		$(function() {
            // Etat de login initial
            
			var currentUser = angular.element('body').scope().currentUser;
			if ((typeof currentUser == 'undefined') || (currentUser == null)) {
				$( "#loginModal" ).modal('show');
			}
			
			            // ELements du tfSetting
            
            $("[alt-text]").each(function() {
                $(this).hover(function(event) {
                    $(this).text($(this).attr("alt-text"));
                },
                function(event) {
                    $(this).text($(this).attr("norm-text"));
                });
            });
            $("[alt-text]").show(function() {
                    $(this).text($(this).attr("norm-text"));
            });

		});
	</script>

  </body>
</html>

