<!DOCTYPE html>
<html lang="fr" ng-app="timeForGamesApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Planification des Parties</title>

    <!-- Bootstrap -->
    <link href="lib/bootstrap.min.css" rel="stylesheet">
    <link href="css/tfg-mobile.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="CalendarCtrl" data-display="mobile">
   <div id="ggloading">
	<div></div>
   </div>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="loginModalLabel">C'est qui ?</h4>
      </div>
      <div class="modal-body">
		<form class="form-inline" id="loginForm" role="form" name="loginForm" ng-submit="login()">
			<div class="input-group input-group-lg">
				<span class="input-group-addon">Tape ton pseudo</span>
				<input type="text" id="inputName" class="form-control input-lg"
					name="userinput" placeholder="Ton pseudo sur le forum"
					ng-model="tempUser" required />
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit" ng-disabled="loginForm.$invalid">Valider</button>
				</span>
			</div>
		</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addSettingModal" tabindex="-1" role="dialog" aria-labelledby="addSettingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="addSettingModalLabel">Proposer une partie</h4>
      </div>
      <div class="modal-body">

	<ul class="list-group">
	  <li class="list-group-item">Nouvelle Chronique / One-Shot</li>
	  <li class="list-group-item">Chronique 1</li>
	  <li class="list-group-item">Chronique 2</li>
	</ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tfSettingModal" tabindex="-1" role="dialog" aria-labelledby="tfSettingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="tfSettingModalLabel">Bla bla titre</h4>
      </div>
      <div class="modal-body">

	<ul class="list-group">
	  <li class="list-group-item">Nouvelle Chronique / One-Shot</li>
	  <li class="list-group-item">Chronique 1</li>
	  <li class="list-group-item">Chronique 2</li>
	</ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="filtersModal" tabindex="-1" role="dialog" aria-labelledby="filtersModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="filtersModalLabel">Mes filtres d'affichage</h4>
      </div>
      <div class="modal-body">

	<ul class="list-group">
	  <li class="list-group-item">Par statut</li>
	  <li class="list-group-item">Statut 1</li>
	  <li class="list-group-item">Statut 2</li>
	</ul>

	<ul class="list-group">
	  <li class="list-group-item">One Shots</li>
	  <li class="list-group-item">One shot 1</li>
	  <li class="list-group-item">One shot 2</li>
	</ul>

	<ul class="list-group">
	  <li class="list-group-item">Chroniques Ouvertes</li>
	  <li class="list-group-item">Chronique 1</li>
	  <li class="list-group-item">Chronique 2</li>
	</ul>

	<ul class="list-group">
	  <li class="list-group-item">Chroniques Fermées</li>
	  <li class="list-group-item">Chronique 1</li>
	  <li class="list-group-item">Chronique 2</li>
	</ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Revenir au planning</button>
      </div>
    </div>
  </div>
</div>

	<div class="btn-group headerButtons">
	  <div class="btn headerButton">Salut {{ currentUser }} !</div>
	  <button type="button" class="btn btn-default headerButton" data-toggle="modal" data-target="#filtersModal">Mes Filtres</button>
	  <button type="button" class="btn btn-default headerButton" ng-click="logout()">Changer d'Utilisateur</button>
	</div>

  <div bindonce class="well weekPanel" ng-repeat="week in weeks">
	  <ul bindonce class="list-group dayPanel"  ng-repeat="day in week.days">
	    <li class="list-group-item list-group-item-success"><span bo-text="day.date | date : 'fullDate' "></span></li>
	    <li class="list-group-item list-group-item-info" ng-repeat="timeframe in day.timeframes">Après-midi <span class="badge"><span class="glyphicon glyphicon-plus-sign"></span>
</span></li>
	    <li class="list-group-item list-group-item-info">Après-midi</li>
	    <li class="list-group-item"><span class="badge tfSettingBadge">TB</span>Terres Balafrées</li>
	    <li class="list-group-item"><span class="badge tfSettingBadge">EP</span>Eclipse Phase</li>
	    <li class="list-group-item"><span class="badge tfSettingBadge">7SP</span>7ème Mer: Pirates !</li>
	    <li class="list-group-item"><span class="badge tfSettingBadge">COP</span>COPS: Ombres et Lumières</li>
	    <li class="list-group-item list-group-item-info">Soir <span class="badge"><span class="glyphicon glyphicon-plus-sign"></span>
</span></li>
	    <li class="list-group-item"><span class="badge tfSettingBadge">TB</span>Terres Balafrées</li>
	    <li class="list-group-item"><span class="badge tfSettingBadge">EP</span>Eclipse Phase</li>
	  </ul>
</div>
    
    <script src="lib/jquery-1.11.0.min.js"></script>
    	<script src="lib/angular/angular.min.js"></script>
    	<script src="lib/angular-locale_fr-fr.js"></script>
	<script src="lib/angular-local-storage.min.js"></script>
	<script src="lib/bindonce.js"></script>
    <script src="lib/bootstrap.min.js"></script>
	<script src="js/gg.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/services.js"></script>
	<script src="js/directives.js"></script>

	<script type="text/javascript">

		$(function() {
            
            // Etat de login initial
            
			var currentUser = angular.element('body').scope().currentUser;
			if ((typeof currentUser == 'undefined') || (currentUser == null)) {
				$( "#loginModal" ).modal('show');
			}
			$('#loginForm').submit(function(event) {
				$( "#loginModal" ).modal('hide');
			});
		});
	</script>

  </body>
</html>

