{{ include ../parts/header-html }}

<div>
<p>Ce mail est un simple avertissement que ton mot de passe pour la planificateur de parties a été modifié.</p>

<p>Si c'est toi qui as fait cette demande sur le site, tout va bien! Sinon va vite demander l'aide d'un admininistrateur parce qu'il y a un boulet qui s'amuse avec ton compte !</p>

</div>

{{ include ../parts/footer-html }}

