<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
span.yes {
	font-weight: bold;
	color: #00A000;
	text-decoration: line-through;
}
span.no {
	font-weight: bold;
	color: #FF0000;
}
.comment {
	font-style: italic;
}
.dumped {
	text-decoration: line-through;
	color: #FF0000;
}
.kept {
}
.added {
	font-weight: bold;
	color: #00A000;
}
div {
    margin: 15px;
}
</style>
</head>
<body>

<div>
	<img src="cid:logo@reves-et-legendes.fr" alt="Rêves et Légendes"/>
</div>

<div>
Salut {{= recipient.name }} !
</div>

